@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

@media (prefers-color-scheme: dark) {
  :root {
	/* Browser area before a page starts loading */
	--gnome-browser-before-load-background: #242424;
	--gnome-content-page-dialog-background: #424242;
	--gnome-content-page-background: #1d1d1d;
	--gnome-content-box-background: #2b2b2b;
	--gnome-content-page-color: #fdfdfd;
	--theme-primary-color: #315bef;
	--theme-primary-hover-color: #5073f1;
	--theme-primary-active-color: #6584f3;

	/* Toolbars */
	--gnome-toolbar-background: #373737;
	--gnome-tabstoolbar-background: #1e1e1e;
	--gnome-findbar-background: #333333;
	--gnome-toolbar-color: #ffffff;
	--gnome-toolbar-icon-fill: #ffffff;
	--gnome-toolbar-border-color: #070707;
	--gnome-inactive-toolbar-color: rgba(255, 255, 255, 0.35);
	--gnome-inactive-toolbar-background: #313131;
	--gnome-inactive-toolbar-border-color: #121212;

	/* Sidebar */
	--sidebar-background-color: #323232 !important;
	--gnome-sidebar-background: #3b3b3b;
	--gnome-inactive-sidebar-background: #3f3f3f;
	--gnome-sidebar-border-color: color-mix(in srgb, #000000 75%, var(--gnome-sidebar-background));

	/* Popups */
	--gnome-menu-background: rgba(51, 51, 51, 0.95);
	--gnome-menu-border-color: rgba(0, 0, 0, 0.75);
	--gnome-popover-background: rgba(51, 51, 51, 0.95);
	--gnome-popover-border-color: rgba(0, 0, 0, 0.75);
	--gnome-popover-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
	--gnome-popover-button-hover-background: rgba(255, 255, 255, 0.1);
	--gnome-popover-button-active-background: rgba(255, 255, 255, 0.15);
	--gnome-popover-separator-color: rgba(255, 255, 255, 0.08);

	/* Header bar */
	--gnome-headerbar-background: #373737;
	--gnome-headerbar-border-color: #070707;
	--gnome-headerbar-box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
	--gnome-inactive-headerbar-background: #313131;
	--gnome-inactive-headerbar-border-color: #202020;
	--gnome-inactive-headerbar-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08);

	/* Buttons */
	--gnome-button-background: linear-gradient(to top, #636363 0%, #696969 100%);
	--gnome-button-border-color: rgba(0, 0, 0, 0.2);
	--gnome-button-border-bottom-color: rgba(0, 0, 0, 0.25);
	--gnome-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
	--gnome-button-hover-color: rgba(255, 255, 255, 0.1);
	--gnome-button-active-color: rgba(255, 255, 255, 0.2);
	--gnome-button-hover-background: linear-gradient(to top, #707070 0%, #737373 100%);
	--gnome-button-active-background: linear-gradient(to top, #808080 0%, #858585 100%);
	--gnome-button-active-border-color: rgba(0, 0, 0, 0.25);
	--gnome-button-active-border-bottom-color: rgba(0, 0, 0, 0.25);
	--gnome-button-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
	--gnome-button-disabled-background: linear-gradient(to top, #434343 0%, #494949 100%);
	--gnome-button-disabled-border-color: rgba(0, 0, 0, 0.2);
	--gnome-button-disabled-box-shadow: inset 0 1px rgba(255, 255, 255, 0.03);
	--gnome-inactive-button-background: linear-gradient(#383838, #383838);
	--gnome-inactive-button-border-color: rgba(0, 0, 0, 0.12);
	--gnome-inactive-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0.0);
	--gnome-button-suggested-action-background: linear-gradient(to top, #155099 2px, #15539e);
	--gnome-button-suggested-action-border-color: rgba(0, 0, 0, 0.2);
	--gnome-button-suggested-action-border-bottom-color: rgba(0, 0, 0, 0.3);
	--gnome-button-suggested-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08);
	--gnome-button-suggested-action-hover-background: linear-gradient(to top, #155099, #1655a2 1px);
	--gnome-button-suggested-action-active-background: linear-gradient(to top, #103e75, #103e75 1px);
	--gnome-button-suggested-action-active-border-color: rgba(0, 0, 0, 0.3);
	--gnome-button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0.05);
	--gnome-button-destructive-action-background: linear-gradient(to top, #ae151c 2px, #b2161d);
	--gnome-button-destructive-action-border-color: rgba(0, 0, 0, 0.2);
	--gnome-button-destructive-action-border-bottom-color: rgba(0, 0, 0, 0.3);
	--gnome-button-destructive-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-button-destructive-action-hover-background: linear-gradient(to top, #ae151c, #b7161d 1px);
	--gnome-button-destructive-action-active-background: linear-gradient(to top, #8a1116, #8a1116 1px);
	--gnome-button-destructive-action-active-border-color: rgba(0, 0, 0, 0.3);
	--gnome-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

	--gnome-headerbar-button-combined-background: rgba(255, 255, 255, 0.05);
	--gnome-headerbar-button-hover-background: rgba(255, 255, 255, 0.1);
	--gnome-headerbar-button-active-background: rgba(255, 255, 255, 0.15);

	/* URL bar */
	--gnome-urlbar-background: #464646;
	--gnome-urlbar-border-color: rgba(0, 0, 0, 0.2);
	--gnome-urlbar-box-shadow: 0 3px 6px 1px rgba(0,0,0, .2), 0 5px 16px 3px rgba(0,0,0, .15), 0 0 0 1px rgba(0, 0, 0, 0.75);
	--gnome-urlbar-color: #ffffff;
	--gnome-hover-urlbar-border-color: #585858;
	--gnome-inactive-urlbar-background: #383838;
	--gnome-inactive-urlbar-border-color: #282828;
	--gnome-inactive-urlbar-box-shadow: none;
	--gnome-inactive-urlbar-color: #d6d6d6;
	--gnome-focused-urlbar-border-color: #338CBE;
	--gnome-focused-urlbar-highlight-color: #006EA0;
	--gnome-private-urlbar-background: #25003e;

	/* Tabs */
	--gnome-tabbar-tab-background: #262626;
	--gnome-tabbar-tab-color: #909090;
	--gnome-tabbar-tab-border-color: #070707;
	--gnome-tabbar-tab-hover-background: #2b2b2b;
	--gnome-tabbar-tab-hover-border-color: #070707;
	--gnome-tabbar-tab-hover-color: #c8c8c8;
	--gnome-tabbar-tab-active-background: #373737;
	--gnome-tabbar-tab-active-border-color: #070707;
	--gnome-tabbar-tab-active-color: #ffffff;
	--gnome-tabbar-tab-active-hover-background: #313131;
	--gnome-inactive-tabbar-tab-color: #686868;
	--gnome-inactive-tabbar-tab-background: #202020;
	--gnome-inactive-tabbar-tab-active-background: #313131;
	--gnome-inactive-tabbar-tab-active-border-color: var(--gnome-tabbar-tab-active-border-bottom-color);
	--gnome-inactive-tabbar-tab-active-color: #898989;
	--gnome-tab-attention-icon-color: #718be8;

	/* Switch */
	--gnome-switch-background: #464646;
	--gnome-switch-hover-background: #525252;
	--gnome-switch-active-background: #606060;
	--gnome-switch-border-color: transparent;
	--gnome-switch-slider-background: #ffffff;
	--gnome-switch-slider-border-color: transparent;
	--gnome-switch-slider-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-switch-pressed-background: #315bef;
	--gnome-switch-pressed-hover-background: #5073f1;
	--gnome-switch-pressed-active-background: #6584f3;
	--gnome-switch-active-border-color: transparent;
	--gnome-switch-active-slider-border-color: transparent;

	/* Dirty hacks for replaced symbolic icons, they load from
	 * /usr/share/icons/<theme>/ and on some systems they need to be
	 * inverted, on others they don't, adjusts the filters below to your
	 * needs (you may also adjust icon brightness here). */
	--gnome-convert-icon-to-symbolic-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(85%);
	--gnome-icons-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(200%); /* without invert: none */
	--gnome-window-icons-hack-filter: invert(90%); /* without invert: none */

	/* Private window colors */
	--gnome-private-accent: #78aeed;

	/* Toolbars */
	--gnome-private-toolbar-background: var(--gnome-headerbar-background);
	--gnome-private-inactive-toolbar-background: var(--gnome-inactive-headerbar-background);
	/* Menus */
	--gnome-private-menu-background: #383838;
	/* Header bar */
	--gnome-private-headerbar-background: #252F49;
	--gnome-private-inactive-headerbar-background: var(--gnome-private-toolbar-background);
	/* Tabs */
	--gnome-private-tabbar-tab-hover-background: #343e56; /* Hardcoded color */
	--gnome-private-tabbar-tab-active-background: #343e56; /* Hardcoded color */
	--gnome-private-tabbar-tab-active-background-contrast: #495675; /* Hardcoded color */
	--gnome-private-tabbar-tab-active-hover-background: #414a61; /* Hardcoded color */
	--gnome-private-inactive-tabbar-tab-hover-background: #242c3f; /* Hardcoded color */
	--gnome-private-inactive-tabbar-tab-active-background: #272e41; /* Hardcoded color */

	/* Text color for Firefox Logo in new private tab */
	--gnome-private-wordmark: #FBFBFE;

	/* New private tab background */
	--gnome-private-in-content-page-background: #242424;

	/* Private browsing info box */
	--gnome-private-text-primary-color: #FBFBFE;
  }
}
