@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

@media (prefers-color-scheme: dark) {
  :root {
	/* Browser area before a page starts loading */
	--gnome-browser-before-load-background: var(--lwt-accent-color, #282828);
	--gnome-content-page-dialog-background: #424242;
	--gnome-content-page-background: #1d1d1d;
	--gnome-content-box-background: #2b2b2b;
	--gnome-content-page-color: #fdfdfd;
	--theme-primary-color: #315bef;
	--theme-primary-hover-color: #5073f1;
	--theme-primary-active-color: #6584f3;

	/* Browser colors */
	--in-content-link-color: var(--theme-primary-color) !important;
	--in-content-link-color-hover: var(--theme-primary-color-hover) !important;

	/* Toolbars */
	--gnome-toolbar-background: var(--lwt-accent-color, #363636);
	--gnome-tabstoolbar-background: color-mix(in srgb, #ffffff 6%, var(--lwt-accent-color, #363636));
	--gnome-findbar-background: var(--lwt-accent-color, #282828);
	--gnome-toolbar-color: var(--toolbar-color, #ffffff);
	--gnome-toolbar-icon-fill: var(--toolbar-color, #ffffff);
	--gnome-toolbar-border-color: rgba(255, 255, 255, 0.1);
	--gnome-inactive-toolbar-color: color-mix(in srgb, var(--gnome-toolbar-color) 45%, var(--gnome-toolbar-background));
	--gnome-inactive-toolbar-background: var(--lwt-accent-color, #282828);
	--gnome-inactive-toolbar-border-color: var(--chrome-content-separator-color);

	/* Sidebar */
	--gnome-sidebar-background: var(--lwt-accent-color, #282828);
	--gnome-inactive-sidebar-background: var(--lwt-accent-color, #282828);
	--gnome-sidebar-border-color: color-mix(in srgb, var(--toolbar-color) 10%, var(--gnome-sidebar-background));

	/* Popups */
	--gnome-menu-background: color-mix(in srgb, var(--toolbar-field-focus-background-color) 95%, transparent);
	--gnome-menu-border-color: rgba(0,0,0,.15);
	--gnome-popover-background: color-mix(in srgb, var(--toolbar-field-focus-background-color) 95%, transparent);
	--gnome-popover-border-color: light-dark(rgba(0,0,0,.15), #000000);
	--gnome-popover-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
	--gnome-popover-button-hover-background: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-popover-button-active-background: color-mix(in srgb, currentColor 15%, transparent);
	--gnome-popover-separator-color: color-mix(in srgb, currentColor 8%, transparent);

	/* Header bar */
	--gnome-headerbar-background: var(--lwt-accent-color, #363636);
	--gnome-headerbar-border-color: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-headerbar-box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
	--gnome-inactive-headerbar-background: var(--lwt-accent-color);
	--gnome-inactive-headerbar-border-color: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-inactive-headerbar-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08);

	/* Buttons */
	--button-background-color: color-mix(in srgb, #ffffff 15%, var(--toolbar-field-background-color));
	--button-background-hover-color: color-mix(in srgb, #ffffff 25%, var(--toolbar-field-background-color));
	--button-background-active-color: color-mix(in srgb, #ffffff 35%, var(--toolbar-field-background-color));
	--button-background-disabled-color: color-mix(in srgb, #ffffff 8%, var(--toolbar-field-background-color));

	--gnome-button-background: linear-gradient(to top, var(--button-background-color) 0%, var(--button-background-color) 100%);
	--gnome-button-border-color: color-mix(in srgb, #000000 35%, var(--toolbar-field-background-color));
	--gnome-button-border-bottom-color: color-mix(in srgb, #000000 45%, var(--toolbar-field-background-color));
	--gnome-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
	--gnome-button-hover-background: linear-gradient(to top, var(--button-background-hover-color) 0%, var(--button-background-hover-color) 100%);
	--gnome-button-active-background: linear-gradient(to top, var(--button-background-active-color) 0%, var(--button-background-active-color) 100%);
	--gnome-button-active-border-color: color-mix(in srgb, #000000 35%, var(--toolbar-field-background-color));
	--gnome-button-active-bottom-border-color: color-mix(in srgb, #000000 45%, var(--toolbar-field-background-color));
	--gnome-button-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
	--gnome-button-disabled-background: linear-gradient(to top, var(--button-background-disabled-color) 0%, var(--button-background-disabled-color) 100%);
	--gnome-button-disabled-border-color: color-mix(in srgb, #000000 35%, var(--toolbar-field-background-color));
	--gnome-button-disabled-box-shadow: inset 0 1px rgba(255, 255, 255, 0.03);
	--gnome-inactive-button-background: color-mix(in srgb, #ffffff 5%, var(--toolbar-field-background-color));
	--gnome-inactive-button-border-color: color-mix(in srgb, #000000 35%, var(--toolbar-field-background-color));
	--gnome-inactive-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0.0);
	--gnome-button-suggested-action-background: linear-gradient(to top, #155099 2px, #15539e);
	--gnome-button-suggested-action-border-color: rgba(0, 0, 0, 0.2);
	--gnome-button-suggested-action-border-bottom-color: rgba(0, 0, 0, 0.3);
	--gnome-button-suggested-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08);
	--gnome-button-suggested-action-hover-background: linear-gradient(to top, #155099, #1655a2 1px);
	--gnome-button-suggested-action-active-background: linear-gradient(to top, #103e75, #103e75 1px);
	--gnome-button-suggested-action-active-border-color: rgba(0, 0, 0, 0.3);
	--gnome-button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0.05);
	--gnome-button-destructive-action-background: linear-gradient(to top, #ae151c 2px, #b2161d);
	--gnome-button-destructive-action-border-color: rgba(0, 0, 0, 0.2);
	--gnome-button-destructive-action-border-bottom-color: rgba(0, 0, 0, 0.3);
	--gnome-button-destructive-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-button-destructive-action-hover-background: linear-gradient(to top, #ae151c, #b7161d 1px);
	--gnome-button-destructive-action-active-background: linear-gradient(to top, #8a1116, #8a1116 1px);
	--gnome-button-destructive-action-active-border-color: rgba(0, 0, 0, 0.3);
	--gnome-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

	--gnome-button-hover-color: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-button-active-color: color-mix(in srgb, currentColor 20%, transparent);
	--gnome-headerbar-button-combined-background: color-mix(in srgb, currentColor 6%, transparent);
	--gnome-headerbar-button-hover-background: color-mix(in srgb, currentColor 12%, transparent);
	--gnome-headerbar-button-active-background: color-mix(in srgb, currentColor 18%, transparent);

	/* URL bar */
	--gnome-urlbar-color: var(--toolbar-color, #ffffff);
	--gnome-urlbar-background: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-urlbar-border-color: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-urlbar-box-shadow: 0 3px 6px 1px rgba(0,0,0, .2), 0 5px 16px 3px rgba(0,0,0, .15), 0 0 0 1px rgba(0, 0, 0, 0.75);
	--gnome-hover-urlbar-border-color: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-inactive-urlbar-background: var(--toolbar-field-background-color);
	--gnome-inactive-urlbar-border-color: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-inactive-urlbar-box-shadow: none;
	--gnome-inactive-urlbar-color: var(--toolbar-field-color);
	--gnome-focused-urlbar-border-color: #338CBE;
	--gnome-focused-urlbar-highlight-color: #006EA0;
	--gnome-private-urlbar-background: var(--toolbar-field-background-color);

	/* Tabs */
	--gnome-tabbar-tab-color: var(--lwt-tab-text, var(--toolbar-color, #ffffff));
	--gnome-tabbar-tab-background: var(--lwt-accent-color, #363636);
	--gnome-tabbar-tab-border-color: var(--gnome-toolbar-border-color);
	--gnome-tabbar-tab-hover-background: color-mix(in srgb, var(--toolbar-color) 12%, var(--lwt-accent-color));
	--gnome-tabbar-tab-hover-border-color: var(--gnome-toolbar-border-color);
	--gnome-tabbar-tab-hover-color: var(--lwt-tab-text, var(--toolbar-color));
	--gnome-tabbar-tab-active-background: var(--gnome-headerbar-background);
	--gnome-tabbar-tab-active-border-color: color-mix(in srgb, var(--toolbar-color) 12%, var(--gnome-headerbar-background));
	--gnome-tabbar-tab-active-color: var(--lwt-tab-text, var(--toolbar-color));
	--gnome-tabbar-tab-active-hover-background: color-mix(in srgb, var(--toolbar-color) 12%, var(--lwt-accent-color));
	--gnome-inactive-tabbar-tab-color: var(--lwt-tab-text, var(--toolbar-color));
	--gnome-inactive-tabbar-tab-background: var(--gnome-tabstoolbar-background);
	--gnome-inactive-tabbar-tab-active-background: var(--gnome-headerbar-background);
	--gnome-inactive-tabbar-tab-active-border-color: var(--gnome-tabbar-tab-active-border-bottom-color);
	--gnome-inactive-tabbar-tab-active-color: var(--gnome-inactive-tabbar-tab-color);
	--gnome-tab-attention-icon-color: #718be8;

	/* Switch */
	--gnome-switch-background: #464646;
	--gnome-switch-hover-background: #525252;
	--gnome-switch-active-background: #606060;
	--gnome-switch-border-color: transparent;
	--gnome-switch-slider-background: #ffffff;
	--gnome-switch-slider-border-color: transparent;
	--gnome-switch-slider-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-switch-pressed-background: #315bef;
	--gnome-switch-pressed-hover-background: #5073f1;
	--gnome-switch-pressed-active-background: #6584f3;
	--gnome-switch-active-border-color: transparent;
	--gnome-switch-active-slider-border-color: transparent;

	/* Dirty hacks for replaced symbolic icons, they load from
	 * /usr/share/icons/<theme>/ and on some systems they need to be
	 * inverted, on others they don't, adjusts the filters below to your
	 * needs (you may also adjust icon brightness here). */
	--gnome-convert-icon-to-symbolic-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(85%);
	--gnome-icons-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(200%); /* without invert: none */
	--gnome-window-icons-hack-filter: invert(90%); /* without invert: none */

	/* Private window colors */
	--gnome-private-accent: #78aeed;

	/* Toolbars */
	--gnome-private-toolbar-background: var(--gnome-headerbar-background);
	--gnome-private-inactive-toolbar-background: var(--gnome-inactive-headerbar-background);
	/* Menus */
	--gnome-private-menu-background: #383838;
	/* Header bar */
	--gnome-private-headerbar-background: #252F49;
	--gnome-private-inactive-headerbar-background: var(--gnome-private-toolbar-background);
	/* Tabs */
	--gnome-private-tabbar-tab-hover-background: #343e56; /* Hardcoded color */
	--gnome-private-tabbar-tab-active-background: #343e56; /* Hardcoded color */
	--gnome-private-tabbar-tab-active-background-contrast: #495675; /* Hardcoded color */
	--gnome-private-tabbar-tab-active-hover-background: #414a61; /* Hardcoded color */
	--gnome-private-inactive-tabbar-tab-hover-background: #242c3f; /* Hardcoded color */
	--gnome-private-inactive-tabbar-tab-active-background: #272e41; /* Hardcoded color */

	/* Text color for Firefox Logo in new private tab */
	--gnome-private-wordmark: #FBFBFE;

	/* New private tab background */
	--gnome-private-in-content-page-background: #242424;

	/* Private browsing info box */
	--gnome-private-text-primary-color: #FBFBFE;
  }
}
