@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

:root {
	/* Browser area before a page starts loading */
	--gnome-browser-before-load-background: var(--lwt-accent-color, #ffffff);
	--gnome-content-page-dialog-background: #ffffff;
	--gnome-content-page-background: #f2f2f2;
	--gnome-content-box-background: #ffffff;
	--gnome-content-page-color: #242424;
	--theme-primary-color: #315bef;
	--theme-primary-hover-color: #5073f1;
	--theme-primary-active-color: #6584f3;

	/* Browser colors */
	--in-content-link-color: var(--theme-primary-color) !important;
	--in-content-link-color-hover: var(--theme-primary-color-hover) !important;

	/* Toolbars */
	--gnome-toolbar-background: var(--lwt-accent-color, #ffffff);
	--gnome-tabstoolbar-background: color-mix(in srgb, currentColor 8%, var(--gnome-toolbar-background));
	--gnome-findbar-background: var(--lwt-accent-color, #ffffff);
	--gnome-toolbar-color: var(--toolbar-color, #2e2e2e);
	--gnome-toolbar-icon-fill: var(--toolbar-color, #2e2e2e);
	--gnome-toolbar-border-color: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-inactive-toolbar-color: color-mix(in srgb, var(--gnome-toolbar-color) 45%, var(--gnome-toolbar-background));
	--gnome-inactive-toolbar-background: var(--lwt-accent-color, #ffffff);
	--gnome-inactive-toolbar-border-color: var(--chrome-content-separator-color);

	/* Sidebar */
	--gnome-sidebar-background: var(--lwt-accent-color, #ffffff);
	--gnome-inactive-sidebar-background: var(--lwt-accent-color, #ffffff);
	--gnome-sidebar-border-color: color-mix(in srgb, var(--toolbar-color) 12%, var(--gnome-sidebar-background));

	/* Popups */
	--gnome-menu-background: color-mix(in srgb, var(--toolbar-field-focus-background-color) 95%, transparent);
	--gnome-menu-border-color: rgba(0,0,0,.15);
	--gnome-popover-background: color-mix(in srgb, var(--toolbar-field-focus-background-color) 95%, transparent);
	--gnome-popover-border-color: light-dark(rgba(0,0,0,.15), #000000);
	--gnome-popover-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
	--gnome-popover-button-hover-background: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-popover-button-active-background: color-mix(in srgb, currentColor 20%, transparent);
	--gnome-popover-separator-color: color-mix(in srgb, currentColor 10%, transparent);

	/* Header bar */
	--gnome-headerbar-background: var(--lwt-accent-color, #ffffff);
	--gnome-headerbar-border-color: color-mix(in srgb, currentColor 12%, transparent);
	--gnome-headerbar-box-shadow: 0 1px rgba(var(--lwt-accent-color), 0.65) inset;
	--gnome-inactive-headerbar-background: var(--lwt-accent-color, #ffffff);
	--gnome-inactive-headerbar-border-color: color-mix(in srgb, currentColor 12%, transparent);
	--gnome-inactive-headerbar-box-shadow: 0 1px rgba(var(--lwt-accent-color), 0.35) inset;

	/* Buttons */
	--button-background-color: color-mix(in srgb, var(--lwt-accent-color, #ffffff) 35%, transparent);
	--button-background-hover-color: color-mix(in srgb, var(--lwt-accent-color, #ffffff) 75%, transparent);
	--button-background-active-color: color-mix(in srgb, currentColor 10%, transparent);
	--button-background-disabled-color: color-mix(in srgb, var(--lwt-accent-color, #ffffff) 15%, transparent);

	--gnome-button-background: linear-gradient(to top, var(--button-background-color) 0%, var(--button-background-color) 100%);
	--gnome-button-border-color: light-dark(rgba(0,0,0,.15), #000000);
	--gnome-button-border-bottom-color: light-dark(rgba(0,0,0,.20), #000000);
	--gnome-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0.15), 0 1px 2px rgba(0, 0, 0, 0.03);
	--gnome-button-hover-background: linear-gradient(to top, var(--button-background-hover-color) 0%, var(--button-background-hover-color) 100%);
	--gnome-button-active-background: linear-gradient(to top, var(--button-background-active-color) 0%, var(--button-background-active-color) 100%);
	--gnome-button-active-border-color: light-dark(rgba(0,0,0,.15), #000000);
	--gnome-button-active-bottom-border-color: light-dark(rgba(0,0,0,.20), #000000);
	--gnome-button-active-box-shadow: 0 1px rgba(255, 255, 255, 0) inset;
	--gnome-button-disabled-background: linear-gradient(to top, var(--button-background-disabled-color) 0%, var(--button-background-disabled-color) 100%);
	--gnome-button-disabled-border-color: light-dark(rgba(0,0,0,.15), #000000);
	--gnome-button-disabled-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
	--gnome-inactive-button-background: color-mix(in srgb, currentColor 5%, transparent);
	--gnome-inactive-button-border-color: light-dark(rgba(0,0,0,.15), #000000);
	--gnome-inactive-button-box-shadow: 0 1px rgba(255, 255, 255, 0) inset, 0 1px rgba(255, 255, 255, 0);
	--gnome-button-suggested-action-background: linear-gradient(to top, #2379e2 2px, #3584e4);
	--gnome-button-suggested-action-border-color: #1b6acb;
	--gnome-button-suggested-action-border-bottom-color: #15539e;
	--gnome-button-suggested-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-button-suggested-action-hover-background: linear-gradient(to top, #3584e4, #3987e5 1px);
	--gnome-button-suggested-action-active-background: linear-gradient(to top, #1961b9, #1961b9 1px);
	--gnome-button-suggested-action-active-border-color: #1b6acb;
	--gnome-button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
	--gnome-button-destructive-action-background: linear-gradient(to top, #ce1921 2px, #e01b24);
	--gnome-button-destructive-action-border-color: #b2161d;
	--gnome-button-destructive-action-border-bottom-color: #851015;
	--gnome-button-destructive-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-button-destructive-action-hover-background: linear-gradient(to top, #e01b24, #e41c26 1px);
	--gnome-button-destructive-action-active-background: linear-gradient(to top, #a0131a, #a0131a 1px);
	--gnome-button-destructive-action-active-border-color: #b2161d;
	--gnome-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

	--gnome-button-hover-color: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-button-active-color: color-mix(in srgb, currentColor 20%, transparent);
	--gnome-headerbar-button-combined-background: color-mix(in srgb, currentColor 5%, transparent);
	--gnome-headerbar-button-hover-background: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-headerbar-button-active-background: color-mix(in srgb, currentColor 15%, transparent);

	/* URL bar */
	--gnome-urlbar-color: var(--toolbar-color, #2e2e2e);
	--gnome-urlbar-background: color-mix(in srgb, currentColor 8%, transparent);
	--gnome-urlbar-border-color: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-urlbar-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08), 0 5px 8px rgba(0, 0, 0, 0.05), 0 8px 16px rgba(0, 0, 0, 0.03), 0 0 0 1px rgba(0,0,0, 0.12);
	--gnome-hover-urlbar-border-color: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-inactive-urlbar-background: color-mix(in srgb, currentColor 4%, transparent);
	--gnome-inactive-urlbar-border-color: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-inactive-urlbar-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
	--gnome-inactive-urlbar-color: color-mix(in srgb, currentColor 45%, transparent);
	--gnome-focused-urlbar-border-color: #5683DA;
	--gnome-focused-urlbar-highlight-color: #6592E9;
	--gnome-private-urlbar-background: var(--toolbar-field-background-color);

	/* Tabs */
	--gnome-tabbar-tab-background: var(--gnome-tabstoolbar-background);
	--gnome-tabbar-tab-color: var(--lwt-tab-text, var(--toolbar-color, #2e2e2e));
	--gnome-tabbar-tab-border-color: var(--gnome-toolbar-border-color);
	--gnome-tabbar-tab-hover-background: color-mix(in srgb, var(--toolbar-color) 12%, var(--gnome-tabstoolbar-background));
	--gnome-tabbar-tab-hover-border-color: var(--gnome-toolbar-border-color);
	--gnome-tabbar-tab-hover-color: var(--lwt-tab-text, var(--toolbar-color));
	--gnome-tabbar-tab-active-background: var(--gnome-headerbar-background);
	--gnome-tabbar-tab-active-border-color: color-mix(in srgb, var(--toolbar-color) 12%, var(--gnome-headerbar-background));
	--gnome-tabbar-tab-active-color: var(--lwt-tab-text, var(--toolbar-color));
	--gnome-tabbar-tab-active-hover-background: color-mix(in srgb, var(--toolbar-color) 12%, var(--gnome-tabstoolbar-background));
	--gnome-inactive-tabbar-tab-color: var(--lwt-tab-text, var(--toolbar-color));
	--gnome-inactive-tabbar-tab-background: var(--gnome-tabstoolbar-background);
	--gnome-inactive-tabbar-tab-active-background: var(--gnome-headerbar-background);
	--gnome-inactive-tabbar-tab-active-border-color: var(--gnome-tabbar-tab-active-border-bottom-color);
	--gnome-inactive-tabbar-tab-active-color: var(--gnome-inactive-tabbar-tab-color);
	--gnome-tab-attention-icon-color: #718be8;

	/* Switch */
	--gnome-switch-background: #b2b2b2;
	--gnome-switch-hover-background: #a0a0a0;
	--gnome-switch-active-background: #929292;
	--gnome-switch-border-color: transparent;
	--gnome-switch-slider-background: #ffffff;
	--gnome-switch-slider-border-color: transparent;
	--gnome-switch-slider-box-shadow: inset 0 1px white, 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-switch-active-border-color: transparent;
	--gnome-switch-active-slider-border-color: transparent;
	--gnome-switch-pressed-background: #315bef;
	--gnome-switch-pressed-hover-background: #5073f1;
	--gnome-switch-pressed-active-background: #6584f3;

	/* Dirty hacks for replaced symbolic icons, they load from
	 * /usr/share/icons/<theme>/ and on some systems they need to be
	 * inverted, on others they don't, adjusts the filters below to your
	 * needs (you may also adjust icon brightness here). */
	--gnome-convert-icon-to-symbolic-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(85%) invert(100%);
	--gnome-icons-hack-filter: none;
	--gnome-window-icons-hack-filter: invert(30%);

	/* Private window colors */
	--gnome-private-accent: #1c71d8;
	
	/* Toolbars */
	--gnome-private-toolbar-background: var(--gnome-headerbar-background);
	--gnome-private-inactive-toolbar-background: var(--gnome-inactive-headerbar-background);
	/* Menus */
	--gnome-private-menu-background: #ffffff;
	/* Header bar */
	--gnome-private-headerbar-background: #D7E3F0;
	--gnome-private-inactive-headerbar-background: var(--gnome-private-toolbar-background);
	/* Tabs */
	--gnome-private-tabbar-tab-hover-background: #cbd7e3; /* Hardcoded color */
	--gnome-private-tabbar-tab-active-background: #c6d1dd; /* Hardcoded color */
	--gnome-private-tabbar-tab-active-background-contrast: #a9b6c4; /* Hardcoded color */
	--gnome-private-tabbar-tab-active-hover-background: #c0cbd7; /* Hardcoded color */
	--gnome-private-inactive-tabbar-tab-hover-background: #e4e9f0; /* Hardcoded color */
	--gnome-private-inactive-tabbar-tab-active-background: #e1e7ed; /* Hardcoded color */

	/* Text color for Firefox Logo in new private tab */
	--gnome-private-wordmark: #20123A;

	/* New private tab background */
	--gnome-private-in-content-page-background: #FAFAFA;

	/* Private browsing info box */
	--gnome-private-text-primary-color: #15141A;
}
