/* Toolbox, a container for all toolbars (toolbox#navigator-toolbox):
 * - menu bar (toolbar#toolbar-menubar)
 * - tab bar (toolbar#TabsToolbar)
 * - header bar (toolbar#nav-bar)
 * - bookmark bar (toolbar#PersonalToolbar)
 * - add-ons can add their own toolbars (toolbar) */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

#nav-bar,
#titlebar,
#PersonalToolbar,
#toolbar-menubar,
#TabsToolbar,
#navigator-toolbox,
.notificationbox-stack {
	color: var(--gnome-toolbar-color);
	background: var(--gnome-toolbar-background) !important;
	transition: none !important;
}

#navigator-toolbox {
	border-bottom: 1px solid var(--gnome-toolbar-border-color) !important;
}

#nav-bar:-moz-window-inactive,
#titlebar:-moz-window-inactive,
#PersonalToolbar:-moz-window-inactive,
#toolbar-menubar:-moz-window-inactive,
#TabsToolbar:-moz-window-inactive,
#navigator-toolbox:-moz-window-inactive {
	background: var(--gnome-inactive-toolbar-background) !important;
}

.toolbarbutton-icon {
	color: var(--gnome-toolbar-color);
	fill: var(--gnome-toolbar-color);
}

#titlebar {
	min-height: 0 !important
	max-height: 36px !important;
}

#nav-bar {
	border: none !important;
	box-shadow: none !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
}

/* allow to drag headerbar empty space */
#nav-bar .chromeclass-location {
	-moz-window-dragging: drag !important;
}

#toolbar-menubar:not([inactive=true]) {
	margin-bottom: 0 !important;
}

/* Reorder toolbars */
#navigator-toolbox #nav-bar, findbar {
	-moz-box-ordinal-group: 0;
	order: 0;
}
#navigator-toolbox #PersonalToolbar {
	-moz-box-ordinal-group: 1;
	order: 1;
}
#navigator-toolbox #titlebar {
	-moz-box-ordinal-group: 2;
	order: 2;
}
#navigator-toolbox toolbar {
	-moz-box-ordinal-group: 10;
	order: 10;
}
#navigator-toolbox #TabsToolbar {
	-moz-box-ordinal-group: 100;
	order: 100;
}

/* Customization page */
#customization-container:-moz-lwtheme {
	background-image: linear-gradient(var(--gnome-browser-before-load-background), var(--gnome-browser-before-load-background)) !important;
}

#customization-footer {
	border-top: 1px solid var(--gnome-toolbar-border-color) !important;
	color: var(--gnome-toolbar-color) !important;
	background: var(--gnome-toolbar-background) !important;
	border-radius: 0 0 12px 12px !important;
}

#PersonalToolbar {
	height: 28px !important;
	max-height: 28px !important;
	padding: 0 2px !important;
	--bookmarks-toolbar-overlapping-browser-height: auto;
}

/* bookmark-item */
toolbarbutton.bookmark-item {
	padding: 3px 6px !important;
	margin: 0 2px !important;
	border-radius: 3px !important;
	max-height: 24px !important;
}
