$variant: 'light';
$laptop: 'true';
$trans: 'true';
$black: 'false';
$theme: 'orange';

@import '../../../sass/colors';
@import '../../../sass/variables';
@import '../../../sass/gnome-shell/drawing';
@import '../../../sass/gnome-shell/common';
@import '../../../sass/gnome-shell/widgets-40-0';
@import '../../../sass/gnome-shell/extensions';
