$variant: 'dark';

@import '../../../sass/variables';
@import '../../../sass/colors';
@import '../../../sass/gnome-shell/drawing';
@import '../../../sass/gnome-shell/common';
@import '../../../sass/gnome-shell/widgets-40-0';
@import '../../../sass/gnome-shell/extensions-40-0';
