@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

:root {
	/* Browser area before a page starts loading */
	--gnome-browser-before-load-background: #f5f5f5;
	--gnome-content-page-dialog-background: #ffffff;
	--gnome-content-page-background: #f2f2f2;
	--gnome-content-box-background: #ffffff;
	--gnome-content-page-color: #242424;
	--theme-primary-color: #315bef;
	--theme-primary-hover-color: #5073f1;
	--theme-primary-active-color: #6584f3;

	/* Toolbars */
	--gnome-toolbar-background: #ffffff;
	--gnome-tabstoolbar-background: #E5E5E5;
	--gnome-findbar-background: #f5f5f5;
	--gnome-toolbar-color: #2e2e2e;
	--gnome-toolbar-icon-fill: #2e2e2e;
	--gnome-toolbar-border-color: #cfcfcf;
	--gnome-inactive-toolbar-color: rgba(46, 46, 46, 0.45);
	--gnome-inactive-toolbar-background: #f6f5f4;
	--gnome-inactive-toolbar-border-color: #dadada;

	/* Sidebar */
	--gnome-sidebar-background: #f5f5f5;
	--gnome-inactive-sidebar-background: #f9f9f8;
	--gnome-sidebar-border-color: color-mix(in srgb, #000000 12%, var(--gnome-sidebar-background));

	/* Popups */
	--gnome-menu-background: rgba(255, 255, 255, 0.95);
	--gnome-menu-border-color: rgba(0, 0, 0, 0.12);
	--gnome-popover-background: rgba(255, 255, 255, 0.95);
	--gnome-popover-border-color: rgba(0, 0, 0, 0.12);
	--gnome-popover-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
	--gnome-popover-button-hover-background: rgba(0, 0, 0, 0.1);
	--gnome-popover-button-active-background: rgba(0, 0, 0, 0.2);
	--gnome-popover-separator-color: rgba(0, 0, 0, 0.1);

	/* Header bar */
	--gnome-headerbar-background: #ffffff;
	--gnome-headerbar-border-color: #cfcfcf;
	--gnome-headerbar-box-shadow: 0 1px rgba(255, 255, 255, 0.65) inset;
	--gnome-inactive-headerbar-background: #f5f5f5;
	--gnome-inactive-headerbar-border-color: #dadada;
	--gnome-inactive-headerbar-box-shadow: 0 1px #fff inset;

	/* Buttons */
	--gnome-button-background: linear-gradient(to top, #f1f1f1 0%, #fdfdfd 95%, #fefefe 100%);
	--gnome-button-border-color: #cfcfcf;
	--gnome-button-border-bottom-color: #cfcfcf;
	--gnome-button-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.03);
	--gnome-button-hover-color: rgba(0, 0, 0, 0.1);
	--gnome-button-active-color: rgba(0, 0, 0, 0.2);
	--gnome-button-hover-background: linear-gradient(to top, #fdfdfd 0%, #ffffff 100%);
	--gnome-button-active-background: #cfcfcf;
	--gnome-button-active-border-color: #b2b2b1;
	--gnome-button-active-border-bottom-color: #b2b2b1;
	--gnome-button-active-box-shadow: 0 1px rgba(255, 255, 255, 0) inset;
	--gnome-button-disabled-background: #faf9f8;
	--gnome-button-disabled-border-color: #cfcfcf;
	--gnome-button-disabled-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
	--gnome-inactive-button-background: #f6f5f4;
	--gnome-inactive-button-border-color: #dadada;
	--gnome-inactive-button-box-shadow: 0 1px rgba(255, 255, 255, 0) inset, 0 1px rgba(255, 255, 255, 0);
	--gnome-button-suggested-action-background: linear-gradient(to top, #2379e2 2px, #3584e4);
	--gnome-button-suggested-action-border-color: #1b6acb;
	--gnome-button-suggested-action-border-bottom-color: #15539e;
	--gnome-button-suggested-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-button-suggested-action-hover-background: linear-gradient(to top, #3584e4, #3987e5 1px);
	--gnome-button-suggested-action-active-background: linear-gradient(to top, #1961b9, #1961b9 1px);
	--gnome-button-suggested-action-active-border-color: #1b6acb;
	--gnome-button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
	--gnome-button-destructive-action-background: linear-gradient(to top, #ce1921 2px, #e01b24);
	--gnome-button-destructive-action-border-color: #b2161d;
	--gnome-button-destructive-action-border-bottom-color: #851015;
	--gnome-button-destructive-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-button-destructive-action-hover-background: linear-gradient(to top, #e01b24, #e41c26 1px);
	--gnome-button-destructive-action-active-background: linear-gradient(to top, #a0131a, #a0131a 1px);
	--gnome-button-destructive-action-active-border-color: #b2161d;
	--gnome-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

	--gnome-headerbar-button-combined-background: rgba(0, 0, 0, 0.05);
	--gnome-headerbar-button-hover-background: rgba(0, 0, 0, 0.1);
	--gnome-headerbar-button-active-background: rgba(0, 0, 0, 0.15);

	/* URL bar */
	--gnome-urlbar-background: #f5f5f5;
	--gnome-urlbar-border-color: #b6b6b3;
	--gnome-urlbar-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08), 0 5px 8px rgba(0, 0, 0, 0.05), 0 8px 16px rgba(0, 0, 0, 0.03), 0 0 0 1px rgba(0,0,0, 0.12);
	--gnome-urlbar-color: #020202;
	--gnome-hover-urlbar-border-color: #e5e5e5;
	--gnome-inactive-urlbar-background: #f0f0f0;
	--gnome-inactive-urlbar-border-color: #dadada;
	--gnome-inactive-urlbar-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
	--gnome-inactive-urlbar-color: #323232;
	--gnome-focused-urlbar-border-color: #5683DA;
	--gnome-focused-urlbar-highlight-color: #6592E9;
	--gnome-private-urlbar-background: #e6c2ff;

	/* Tabs */
	--gnome-tabbar-tab-background: #e5e5e5;
	--gnome-tabbar-tab-color: rgb(141, 144, 145);
	--gnome-tabbar-tab-border-color: #cfcfcf;
	--gnome-tabbar-tab-hover-background: #d5d5d5;
	--gnome-tabbar-tab-hover-border-color: #cfcfcf;
	--gnome-tabbar-tab-hover-color: rgb(93, 98, 99);
	--gnome-tabbar-tab-active-background: #ffffff;
	--gnome-tabbar-tab-active-border-color: #cfcfcf;
	--gnome-tabbar-tab-active-color: rgb(46, 52, 54);
	--gnome-tabbar-tab-active-hover-background: #f5f5f5;
	--gnome-inactive-tabbar-tab-color: #8b8e8f;
	--gnome-inactive-tabbar-tab-background: #dfdfdf;
	--gnome-inactive-tabbar-tab-active-background: #f5f5f5;
	--gnome-inactive-tabbar-tab-active-border-color: var(--gnome-tabbar-tab-active-border-bottom-color);
	--gnome-inactive-tabbar-tab-active-color: var(--gnome-inactive-tabbar-tab-color);
	--gnome-tab-attention-icon-color: #718be8;

	/* Switch */
	--gnome-switch-background: #b2b2b2;
	--gnome-switch-hover-background: #a0a0a0;
	--gnome-switch-active-background: #929292;
	--gnome-switch-border-color: transparent;
	--gnome-switch-slider-background: #ffffff;
	--gnome-switch-slider-border-color: transparent;
	--gnome-switch-slider-box-shadow: inset 0 1px white, 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-switch-active-border-color: transparent;
	--gnome-switch-active-slider-border-color: transparent;
	--gnome-switch-pressed-background: #315bef;
	--gnome-switch-pressed-hover-background: #5073f1;
	--gnome-switch-pressed-active-background: #6584f3;

	/* Dirty hacks for replaced symbolic icons, they load from
	 * /usr/share/icons/<theme>/ and on some systems they need to be
	 * inverted, on others they don't, adjusts the filters below to your
	 * needs (you may also adjust icon brightness here). */
	--gnome-convert-icon-to-symbolic-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(85%) invert(100%);
	--gnome-icons-hack-filter: none;
	--gnome-window-icons-hack-filter: invert(30%);

	/* Private window colors */
	--gnome-private-accent: #1c71d8;
	
	/* Toolbars */
	--gnome-private-toolbar-background: var(--gnome-headerbar-background);
	--gnome-private-inactive-toolbar-background: var(--gnome-inactive-headerbar-background);
	/* Menus */
	--gnome-private-menu-background: #ffffff;
	/* Header bar */
	--gnome-private-headerbar-background: #D7E3F0;
	--gnome-private-inactive-headerbar-background: var(--gnome-private-toolbar-background);
	/* Tabs */
	--gnome-private-tabbar-tab-hover-background: #cbd7e3; /* Hardcoded color */
	--gnome-private-tabbar-tab-active-background: #c6d1dd; /* Hardcoded color */
	--gnome-private-tabbar-tab-active-background-contrast: #a9b6c4; /* Hardcoded color */
	--gnome-private-tabbar-tab-active-hover-background: #c0cbd7; /* Hardcoded color */
	--gnome-private-inactive-tabbar-tab-hover-background: #e4e9f0; /* Hardcoded color */
	--gnome-private-inactive-tabbar-tab-active-background: #e1e7ed; /* Hardcoded color */

	/* Text color for Firefox Logo in new private tab */
	--gnome-private-wordmark: #20123A;

	/* New private tab background */
	--gnome-private-in-content-page-background: #FAFAFA;

	/* Private browsing info box */
	--gnome-private-text-primary-color: #15141A;
}
