// Default Blue
$theme_color_default: #0860F2;

// Blue
$theme_color_blue: #2E7CF7;

// Purple
$theme_color_purple: #9A57A3;

// pink
$theme_color_pink: #E55E9C;

// red
$theme_color_red: #ED5F5D;

// orange
$theme_color_orange: #E9873A;

// yellow
$theme_color_yellow: #F3BA4B;

// green
$theme_color_green: #79B757;

// grey
$theme_color_grey: #8C8C8C;
