//
// Normal colors
//

$theme_color_default: #0860F2;
$theme_color_blue:    #2E7CF7;
$theme_color_purple:  #9A57A3;
$theme_color_pink:    #E55E9C;
$theme_color_red:     #ED5F5D;
$theme_color_orange:  #E9873A;
$theme_color_yellow:  #F3BA4B;
$theme_color_green:   #79B757;
$theme_color_grey:    #8C8C8C;

//
// Nord colors
//

$nord_color_default:  #5271ad;
$nord_color_blue:     #4c7bd9;
$nord_color_purple:   #b57daa;
$nord_color_pink:     #cd7092;
$nord_color_red:      #c35b65;
$nord_color_orange:   #d0846c;
$nord_color_yellow:   #e4b558;
$nord_color_green:    #82ac5d;
$nord_color_grey:     #8999a9;
