//
// THEME OPTIONS
//

// Colorscheme type
$colorscheme: 'default'; // default/nord

// Nautilus sidebar sizes (when nautilus_use_colors is false)
$sidebar_size: 200px;

// Nautilus style
$nautilus_style: 'stable';

// Nautilus titlebuttons placement
$placement: 'left';

// Gnome-shell panel opacity
$panel_opacity: 0.15;

// Gnome-shell show apps button style
$showapps_button: 'bigsur';

// Maximized window radius
$max_window_style: 'square';

// Panel font color
$panel_font: 'white';

// Panel height size
$panel_size: 'default';

// Monterey style
$monterey: 'false';

// Color style
$darker: 'false';

// GDM login dialog scale
$scale: 'default';
