//
// THEME OPTIONS
//

// Nautilus version
$nautilus_version: 'old'; // < 3.38/old || 40.0/new

// Nautilus sidebar sizes (when nautilus_use_colors is false)
$sidebar_size: 200px;

// Nautilus style
$nautilus_style: 'stable';

// Gnome-shell panel opacity
$panel_opacity: 0.15;

// Gnome-shell show apps button style
$showapps_button: 'bigsur';

// maximized window radius
$max_window_style: 'square';
