.DS_store
.sass-cache
_theme-options-temp.scss
_gtk-base-temp.scss
*.css.map
src/main/gtk-3.0/gtk*.css
src/main/gtk-4.0/gtk*.css
src/main/cinnamon/cinnamon*.css
src/main/gnome-shell/gnome-shell*.css
src/main/gnome-shell/gdm3*.css
src/other/dash-to-dock/stylesheet.css
src/other/dash-to-dock/stylesheet-dark.css
parse-sass.sh
lib-release.sh
make-release.sh
stable-release/make-releases.sh
