$variant: 'dark';
$laptop: 'true';
$trans: 'true';
$black: 'false';
$theme: 'default';

@import '../../../sass/colors';
@import '../../../sass/variables';
@import '../../../sass/gnome-shell/drawing';
@import '../../../sass/gnome-shell/widgets-3-28';
@import '../../../sass/gnome-shell/extensions-3-28';
