$variant: 'dark';

@import '../../sass/variables';
@import '../../sass/colors';
@import '../../sass/gtk/colors-libadwaita';
@import '../../sass/gtk/drawing-4.0';
@import '../../sass/gtk/common-4.0';
@import '../../sass/gtk/apps-4.0';
@import '../../sass/gtk/colors-public';
