%overview_scrollbar {
  StBin#trough {
    background-color: $inverse_divider_color;
  }

  StButton#vhandle, StButton#hhandle {
    background-color: $inverse_hint_fg_color;
    &:hover { background-color: $inverse_secondary_fg_color; }
    &:active { background-color: $inverse_fg_color; }
  }
}

#overview {
  spacing: 24px;
  StScrollBar { @extend %overview_scrollbar; }
}
