style "menubar" {

  bg[NORMAL] = @tooltip_bg_color
  fg[NORMAL] = @tooltip_fg_color
  fg[PRELIGHT] = shade(1.15, @tooltip_fg_color)
  fg[ACTIVE] = shade(1.15, @tooltip_fg_color)
  fg[SELECTED] = @selected_fg_color
  fg[INSENSITIVE] = shade(0.7, @tooltip_fg_color)

  xthickness = 0
  ythickness = 0

  engine "pixmap" {

    image {
      function = BOX
      file  = "assets/menubar.png"
      stretch  = TRUE
      border = { 1, 1, 1, 1 }
    }
  }
}

style "menubar-borderless" {

  bg[NORMAL] = @tooltip_bg_color
  fg[NORMAL] = @tooltip_fg_color
  fg[SELECTED] = @selected_fg_color
  fg[INSENSITIVE] = shade(0.7, @tooltip_fg_color)

  xthickness = 0
  ythickness = 0

  engine "pixmap" {

    image {
      function = BOX
      file  = "assets/null.png"
      stretch  = TRUE
      border = { 1, 1, 1, 1 }
    }
  }
}

style "menubar_item" {

  xthickness = 2
  ythickness = 2

  fg[PRELIGHT] = @selected_fg_color

  engine "pixmap" {

    image {
      function = BOX
      state = PRELIGHT
      file = "assets/menubar_button.png"
      border = { 2, 2, 2, 2 }
      stretch = TRUE
    }
  }
}

# Text Style Menubar
style "menubar-text" {

  engine "murrine" {
    text_shade = 0.0
    textstyle = 0
  }
}


style "toolbar_text" {
  fg[NORMAL] = @tooltip_fg_color
  fg[PRELIGHT] = shade(1.15, @tooltip_fg_color)
  fg[INSENSITIVE] = shade(0.7, @tooltip_fg_color)
  fg[ACTIVE] = shade(0.9, @tooltip_fg_color)

  text[NORMAL] = @tooltip_fg_color
  text[PRELIGHT] = shade(1.15, @tooltip_fg_color)
  text[INSENSITIVE] = shade(0.7, @tooltip_fg_color)
  text[ACTIVE] = shade(0.9, @tooltip_fg_color)

}

style "toolbar_button" {

  xthickness = 4
  ythickness = 4

  engine "pixmap" {

    image {
      function = BOX
      state = NORMAL
      file = "assets/button.png"
      border = { 4, 4, 4, 4 }
      stretch = TRUE
    }

    image {
      function = BOX
      state = PRELIGHT
      file = "assets/button-hover.png"
      border = { 4, 4, 4, 4 }
      stretch = TRUE
    }

    image {
      function = BOX
      state = ACTIVE
      file = "assets/button-active.png"
      border = { 4, 4, 4, 4 }
      stretch = TRUE
    }

    image {
      function = BOX
      state = INSENSITIVE
      file = "assets/button-insensitive.png"
      border = { 4, 4, 4, 4 }
      stretch = TRUE
    }
  }
}

style "toolbar_entry" {

  base[NORMAL] = @base_color
  base[ACTIVE] = @base_color
  base[INSENSITIVE] = @insensitive_bg_color

  text[NORMAL] = @text_color

  engine "pixmap" {

    image {
      function = SHADOW
      state = NORMAL
      detail = "entry"
      file = "assets/entry-toolbar.png"
      border = {6, 6, 6, 6}
      stretch = TRUE
    }

    image {
      function = SHADOW
      state = ACTIVE
      detail = "entry"
      file = "assets/entry-active-toolbar.png"
      border = {6, 6, 6, 6}
      stretch = TRUE
    }

    image {
      function = SHADOW
      state = INSENSITIVE
      detail = "entry"
      file = "assets/entry-disabled-toolbar.png"
      border = {6, 6, 6, 6}
      stretch = TRUE
    }

    image {
      function = FLAT_BOX
      state    = ACTIVE
      detail   = "entry_bg"
      file     = "assets/null.png"
    }

    image {
      function = FLAT_BOX
      state    = INSENSITIVE
      detail   = "entry_bg"
      file     = "assets/null.png"
    }

    image {
      function = FLAT_BOX
      detail   = "entry_bg"
      file     = "assets/null.png"
    }
  }
}

#Chromium
style "chrome-gtk-frame" {

  ChromeGtkFrame::frame-color = @tooltip_bg_color
  ChromeGtkFrame::inactive-frame-color = @tooltip_bg_color

  ChromeGtkFrame::frame-gradient-size = 0
  ChromeGtkFrame::frame-gradient-color = shade(0.5, @bg_color)

  ChromeGtkFrame::incognito-frame-color = shade(0.85, @bg_color)
  ChromeGtkFrame::incognito-inactive-frame-color = @bg_color

  ChromeGtkFrame::incognito-frame-gradient-color = @bg_color

  ChromeGtkFrame::scrollbar-trough-color = shade(0.912, @bg_color)
  ChromeGtkFrame::scrollbar-slider-prelight-color = shade(1.04, @bg_color)
  ChromeGtkFrame::scrollbar-slider-normal-color = @bg_color

}

widget_class "*<GtkMenuBar>*"                                       style "menubar"
widget_class "*<GtkMenuBar>.<GtkMenuItem>*"                         style "menubar_item"

widget_class "*ThunarWindow*<GtkToolbar>"                           style "menubar"

class "ChromeGtkFrame"                                              style "chrome-gtk-frame"

widget_class "*<GtkMenuBar>*<GtkMenuItem>*<GtkAccelLabel>"          style "menubar-text"

# Whitelist for dark toolbars
widget_class "*ThunarWindow*<GtkMenuBar>"                                   style "menubar-borderless"
widget_class "*ThunarWindow*<GtkToolbar>*<GtkEntry>"                        style "toolbar_entry"
widget_class "*ThunarWindow*<GtkToolbar>*<GtkButton>"                       style "toolbar_button"
widget_class "*ThunarWindow*<GtkToolbar>*<GtkWidget>"                       style "toolbar_text"
widget_class "*ThunarWindow*<GtkToolbar>*<GtkButton>*<GtkLabel>"            style "menubar-text"

# GtkCheckButton
widget_class "*<GtkCheckButton>"                                    style "button"

