/*------------------------USAGE----------------------------
 * Remove "/*" at the begining of "@import" line to ENABLE.
 * Add "/*" at the begining of "@import" line to DISABLE.
 */

@import "WhiteSur/theme.css"; /**/

/*--------------Configure common theme features--------------*/

/* Move tab close button to left. */
/*@import "WhiteSur/left-tab-close-button.css"; /**/

/* Hide the tab bar when only one tab is open (GNOMISH)
 * You should move the new tab button somewhere else for this to work, because by
 * default it is on the tab bar too. */
/*@import "WhiteSur/hide-single-tab.css"; /**/

/* Limit the URL bar's autocompletion popup's width to the URL bar's width (GNOMISH) 
 * This feature is included by default for Firefox 70+ */
/*@import "WhiteSur/matching-autocomplete-width.css"; /**/

/* Rounded window even when it gets maximized */
/*@import "WhiteSur/rounded-window-maximized.css"; /**/

/* Active tab high contrast */
/*@import "WhiteSur/active-tab-contrast.css"; /**/

/* Use system theme icons instead of Adwaita icons included by theme [BUGGED] */
/*@import "WhiteSur/system-icons.css"; /**/

/* Allow drag window from headerbar buttons (GNOMISH) [BUGGED] */
/* It can activate button action, with unpleasant behavior. */
/*@import "WhiteSur/drag-window-headerbar-buttons.css"; /**/

/* Make all tab icons look kinda like symbolic icons */
/*@import "WhiteSur/symbolic-tab-icons.css"; /**/

/* Hide window buttons (close/min/max) in maximized windows */
/*@import "WhiteSur/hide-window-buttons.css"; /**/

/* Import your custom stylesheet */
@import "customChrome.css"; /**/
