@import '../../sass/variables';
@import '../../sass/colors';
@import '../../sass/gnome-shell/drawing';
@import '../../sass/gnome-shell/widgets-46-0';
@import '../../sass/gnome-shell/extensions-46-0';
