$variant: 'light';
$laptop: 'true';
$trans: 'true';
$black: 'false';

@import '../../sass/colors';
@import '../../sass/variables';
@import '../../sass/gnome-shell/drawing';
@import '../../sass/gnome-shell/widgets/base';
@import '../../sass/gnome-shell/widgets/buttons';
@import '../../sass/gnome-shell/widgets/calendar';
@import '../../sass/gnome-shell/widgets/checkbox';
//@import '../../sass/gnome-shell/widgets/dashboard';
//@import '../../sass/gnome-shell/widgets/dialogs';
@import '../../sass/gnome-shell/widgets/entrys';
@import '../../sass/gnome-shell/widgets/keyboard';
@import '../../sass/gnome-shell/widgets/login-dialog';
//@import '../../sass/gnome-shell/widgets/looking-glass';
//@import '../../sass/gnome-shell/widgets/misc';
//@import '../../sass/gnome-shell/widgets/notifications';
//@import '../../sass/gnome-shell/widgets/osd';
//@import '../../sass/gnome-shell/widgets/overview';
@import '../../sass/gnome-shell/widgets/panel';
@import '../../sass/gnome-shell/widgets/popovers';
@import '../../sass/gnome-shell/widgets/screen-shield';
@import '../../sass/gnome-shell/widgets/scrollbar';
@import '../../sass/gnome-shell/widgets/slider';
@import '../../sass/gnome-shell/widgets/switch';
