$variant: 'light';
$laptop: 'true';
$trans: 'true';
$black: 'false';

@import '../../sass/colors';
@import '../../sass/variables';
@import '../../sass/gnome-shell/drawing';
@import '../../sass/gnome-shell/common';
