#TabsToolbar {
	margin-left: 531px !important;
}

:root[sizemode="maximized"] #TabsToolbar {
	margin-left: 571px !important;
}

/* Left window titlebuttons mode */
@media (-moz-gtk-csd-reversed-placement) {
	#TabsToolbar {
		margin-left: 614px !important;
	}

	:root[sizemode="maximized"] #TabsToolbar {
		margin-left: 614px !important;
	}
}
