#TabsToolbar, #urlbar-container {
	margin-right: 20vw !important;
}

/* Left window titlebuttons mode */
@media (-moz-gtk-csd-reversed-placement) {
	#TabsToolbar, #urlbar-container {
		margin-right: 16vw !important;
	}
}
