@import "parts/toolbox-alt.css";
@import "parts/buttons.css";
@import "parts/entries.css";
@import "parts/controls.css";
@import "parts/headerbar-urlbar-alt.css";
@import "parts/headerbar-private-urlbar.css";
@import "parts/headerbar.css";
@import "parts/csd.css";
@import "parts/titlebutton-light.css";
@import "parts/titlebutton-dark.css";
@import "parts/popups.css";
@import "parts/tabsbar-alt.css";
@import "parts/findbar.css";
@import "parts/dialogs.css";
@import "parts/notification.css";
@import "parts/video-player.css";
@import "parts/remove-white-flash.css";
@import "parts/custom-icons.css";
@import "parts/icons.css";
@import "colors/light.css";
@import "colors/dark.css";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Set theme version text in customization panel */
#customization-footer::before {
	background: url(icons/icon.svg) no-repeat;
	background-size: contain;
	content: "Firefox Monterey theme";
	padding: 10px 10px 10px 50px;
}

#customization-container {
	background-color: var(--gnome-browser-before-load-background) !important;
	color: var(--gnome-toolbar-color) !important;
}
