// Dash to Dock

// Scrollview style
.bottom #dashtodockDashScrollview,
.top #dashtodockDashScrollview {
  -st-hfade-offset: 24px;
}

.left #dashtodockDashScrollview,
.right #dashtodockDashScrollview {
  -st-vfade-offset: 24px;
}

#dashtodockContainer {
  background-color: transparent;

  .number-overlay {
    color: $light_fg_color;
    background-color: rgba(black, 0.75);
    text-align: center;
  }

  .notification-badge {
    color: $light_fg_color;
    background-color: $primary_color;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
    border-radius: $circular_radius;
    margin: 2px;
    padding: 0.2em 0.6em;
    font-weight: bold;
    text-align: center;
  }

  &.straight-corner #dash,
  &.shrink.straight-corner #dash {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;

    .dash-background {
      border-radius: 0;
      margin-bottom: 0;
    }
  }

  &.extended.top,
  &.extended.bottom,
  &.extended.right,
  &.extended.left {
    #dash {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0 0;

      .dash-background {
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  &.left,
  &.right {
    #dash {
      margin-top: 0;
      padding: $dash_padding 0;

      .dash-background { // default-mode
        margin-bottom: 0;
      }
    }

    .dash-item-container .app-well-app, .show-apps {
      padding: $base_padding;
    }
  }

  &.left #dash {
    margin-left: $base_padding;
  }

  &.right #dash {
    margin-right: $base_padding;
  }

  #dash { // default-mode
    background: none;

    StWidget.focused .app-well-app-running-dot {
      background-color: $primary_color;
    }

    .show-apps,
    .app-well-app {
      &:hover .overview-icon,
      &:focus .overview-icon,
      &:selected .overview-icon {
        background-color: if($variant == 'light', rgba(white, 0.25), $light_divider_color);
      }

      &:active .overview-icon,
      &:checked .overview-icon {
        background-color: if($variant == 'light', rgba(white, 0.35), $light_track_color);
      }
    }
  }

  .dash-background {
    background-color: $dash_bg;
    border: 1px solid if($variant == 'light', rgba(black, 0.08), rgba(black, 0.75));
    box-shadow: inset 0 0 0 1px rgba(white, 0.05);
  }

  &:overview #dash { // overview-mode #1
    background: none;

    .dash-background {
      background-color: $light_divider_color;
      border: 1px solid rgba(black, 0.08);
      box-shadow: inset 0 0 0 1px rgba(white, 0.05);
    }

    .app-well-app-running-dot {
      background-color: $light_alt_fg_color;
    }

    StWidget.focused .app-well-app-running-dot {
      background-color: $primary_color;
    }

    .show-apps,
    .app-well-app {
      &:hover .overview-icon,
      &:focus .overview-icon,
      &:selected .overview-icon {
        background-color: $light_divider_color;
      }

      &:active .overview-icon,
      &:checked .overview-icon {
        background-color: $light_track_color;
      }
    }
  }

  &.opaque:overview,
  &.transparent:overview { // overview-mode #2
    #dash {
      background-color: transparent !important;
      box-shadow: none !important;
    }

    .dash-background {
      background-color: transparent !important;
    }
  }

  &.extended:overview, // overview-mode #3
  &.opaque.extended:overview,
  &.transparent.extended:overview {
    #dash {
      background: none;
    }
  }

  &.running-dots,
  &.dashtodock {
    .dash-item-container > StButton {
      transition-duration: 250ms;
      background-size: contain;
    }
  }

  &.shrink,
  &.dashtodock {
    .dash-item-container > StButton {
       padding: 1px 2px;
    }
  }

  &.extended,
  &.extended:overview {
    .app-well-app,
    .show-apps {
      .overview-icon {
        border-radius: $bt_radius;
      }
    }
  }

  .metro .overview-icon {
    border-radius: 0;
  }
}

.dashtodock-app-well-preview-menu-item {
  padding: 1em 1em 0.5em 1em;
}

#dashtodockPreviewSeparator.popup-separator-menu-item-horizontal {
  width: 1px;
  height: auto;
  border-right-width: 1px;
  margin: 32px 0;
}
