
// app icons
.icon-grid {
  row-spacing: 12px;
  column-spacing: 12px;
  max-row-spacing: 72px;
  max-column-spacing: 72px;
  page-padding-top: 24px;
  page-padding-bottom: 24px;
  page-padding-left: 12px;
  page-padding-right: 12px;
}

.app-folder-dialog {
  .page-navigation-hint {
    width: if($laptop == 'true', 60px, 80px);
  }

  .page-navigation-arrow {
    margin: 18px;
  }
}

.apps-scroll-view {
  padding: 0;
}

.page-navigation-hint {
  width: if($laptop == 'true', 220px, 300px);

  &.dnd {
    background: rgba(255, 255, 255, 0.1);
  }

  &.next:ltr,
  &.previous:rtl {
    background-gradient-start: $light_divider_color;
    background-gradient-end: transparent;
    background-gradient-direction: horizontal;
    border-radius: $modal_radius 0px 0px $modal_radius;
  }

  &.previous:ltr,
  &.next:rtl {
    background-gradient-start: transparent;
    background-gradient-end: $light_divider_color;
    background-gradient-direction: horizontal;
    border-radius: 0px $modal_radius $modal_radius 0px;
  }
}

.page-navigation-arrow {
  margin: $container_padding;
  width: 24px;
  height: 24px;
  color: $light_alt_fg_color;
  icon-size: 24px;
}
