.controls-manager, .secondary-monitor-workspaces {
  spacing: $base_spacing * 2;
}

#overviewGroup {
  background-color: rgba($osd_bg_color, 1);
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
