
#unlockDialogNotifications {
  StButton#vhandle, StButton#hhandle {
    background-color: transparentize($bg_color, 0.7);
    &:hover, &:focus { background-color: transparentize($bg_color, 0.5); }
    &:active { background-color: transparentize($primary_color, 0.5); }
  }
}
