// search overview container
#searchResultsContent {
  max-width: 1024px;
  spacing: $base_margin * 2;
}

.grid-search-results {
  spacing: $base_spacing * 6;
}

// Search results with icons
.grid-search-result {
  @extend %app-well-app;
}

// search results list
.list-search-results {
  spacing: $base_spacing;
}

// search result listitem
.list-search-result {
  // content
  .list-search-result-content {
    spacing: $base_padding;
  }

  // list item title (with leading icon)
  .list-search-result-title {
    spacing: $base_spacing * 2;
    // font-weight: bold;
  }

  // list item description
  .list-search-result-description { color: $light_alt_fg_color; }
}
