// Window picker
.window-picker {
  // Space between window thumbnails
  spacing: $base_spacing;
}

// Window titles
.window-caption {
  color: $light_alt_fg_color;
  background-color: rgba(black, 0.75);
  border-radius: $circular_radius;
  padding: $base_padding $base_padding * 2;
}

$window_close_button_size: 30px;
$window_close_button_padding: 3px;

// Close button
.window-close {
  background-color: rgba($destructive_color, 1);
  color: white;
  border-radius: $circular_radius;
  padding: $window_close_button_padding;
  height: $window_close_button_size;
  width: $window_close_button_size;
  box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.5);
  transition-duration: 300ms;
  background-image: url("assets/window-close-symbolic.svg");

  StIcon {
    color: white;
    icon-size: 1px; // Can't set to 0
  }

  &:hover {
    color: white;
    background-color: lighten(rgba($destructive_color, 1), 6%);
  }

  &:active {
    color: white;
    background-color: darken(rgba($destructive_color, 1), 6%);
  }
}

.workspace-background {
  // keep in sync with BACKGROUND_CORNER_RADIUS_PIXELS in workspace.js
  border-radius: 30px;
  background-color: $osd_bg_color;
  box-shadow: 0 4px 16px 4px transparentize(darken($osd_bg_color, 30%), 0.7);
}
