/* Notifications & Message Tray */

$notification_banner_height: 64px;
$notification_banner_width: 34em;

// Banner notifications
.notification-banner {
  min-height: $notification_banner_height;
  width: $notification_banner_width;
  border-radius: $wm_radius;
  margin: $base_padding * 2;
  padding: $scaled_padding;
  border: 1px solid if($variant=='light', rgba(black, 0), rgba(black, 0.75));
  text-shadow: none;
  box-shadow: 0 3px 5px rgba(black, 0.15);

  &, &:hover, &:active {
    color: $fg_color;
    background-color: $popover_bg_color;
  }
}

.notification-buttons-bin {
  spacing: 0;
  padding: 0;
}

.notification-button {
  min-height: $medium_size;
  padding: 0 $base_padding * 2;
  background-color: $fill_color;
  color: $alt_fg_color;
  font-weight: 500;
  border: none;
  margin-right: $scaled_padding !important;

  &:focus {
    background-color: $base_color;
    color: $fg_color;
    box-shadow: inset 0 0 0 2px $divider_color !important;
  }

  &:hover {
    background-color: $divider_color;
    color: $fg_color;
    box-shadow: none;
  }

  &:active, &:checked {
    background-color: $track_color;
    color: $fg_color;
  }

  &:insensitive {
    background-color: transparent;
    color: $alt_disabled_fg_color;
  }

  &:first-child:ltr {
    border-radius: $bt_radius;
  }

  &:last-child:ltr {
    border-radius: $bt_radius;
    margin-right: $scaled_padding !important;
  }

  &:first-child:rtl {
    border-radius: $bt_radius;
  }

  &:last-child:rtl {
    border-radius: $bt_radius;
    margin-left: 0 !important;
  }

  &:first-child:last-child {
    border-radius: $bt_radius;
    margin-left: 0 !important;
    margin-right: $scaled_padding !important;
  }
}
