$variant: 'dark';
$laptop: 'true';
$trans: 'false';
$black: 'false';
$theme: 'orange';

@import '../../sass/colors';
@import '../../sass/variables';
@import '../../sass/cinnamon/drawing';
@import '../../sass/cinnamon/common';
