$variant: 'light';
$laptop: 'true';
$trans: 'false';
$black: 'true';
$theme: 'default';

@import '../../sass/colors';
@import '../../sass/variables';
@import '../../sass/cinnamon/drawing';
@import '../../sass/cinnamon/common';
