@media (prefers-color-scheme: dark) {
  :host,
  :host(.anonymous-content-host),
  :root {
    --color-accent-primary: var(--theme-primary-active-color) !important;
    --in-content-page-color: var(--gnome-content-page-color) !important;
    --in-content-page-background: var(--gnome-content-page-background) !important;

    --in-content-box-background: var(--gnome-browser-before-load-background) !important;
    --in-content-box-background-odd: rgba(250,250,250,0.05) !important;
    --in-content-box-info-background: var(--gnome-content-box-background) !important;

    --in-content-border-color: rgba(250,250,250,0.2) !important;
    --in-content-border-hover: rgba(250,250,250,0.3) !important;

    --in-content-icon-color: var(--gnome-content-page-color) !important;

    --in-content-primary-button-text-color: var(--gnome-toolbar-color) !important;
    --in-content-primary-button-background: var(--theme-primary-color) !important;
    --in-content-primary-button-background-hover: var(--theme-primary-hover-color) !important;
    --in-content-primary-button-background-active: var(--theme-primary-active-color) !important;

    --in-content-table-background: var(--gnome-browser-before-load-background) !important;

    --newtab-background-color: var(--gnome-browser-before-load-background) !important;
    --newtab-background-color-secondary: var(--gnome-menu-background) !important;
    --newtab-primary-action-background: var(--theme-primary-color) !important;
    --fxview-background-color: var(--gnome-browser-before-load-background) !important;
    --fxview-background-color-secondary: var(--gnome-menu-background) !important;
    scrollbar-color: rgba(250,250,250,.4) rgba(22,22,22,.3) !important;
    --background-color-box: var(--gnome-content-box-background) !important;
  }

  @media not (prefers-contrast) {
    :root[dialogroot],
    :host(dialog) {
      --in-content-page-background: var(--gnome-content-page-dialog-background) !important;
    }
  }
}

.toggle-button {
  --toggle-background-color: var(--gnome-switch-background) !important;
  --toggle-background-color-hover: var(--gnome-switch-hover-background) !important;
  --toggle-background-color-active: var(--gnome-switch-active-background) !important;
  --toggle-background-color-pressed: var(--gnome-switch-pressed-background) !important;
  --toggle-background-color-pressed-hover: var(--gnome-switch-pressed-hover-background) !important;
  --toggle-background-color-pressed-active: var(--gnome-switch-pressed-active-background) !important;
  --toggle-border-color: var(--gnome-switch-border-color) !important;
  --toggle-dot-background-color: var(--gnome-switch-slider-background) !important;
  --toggle-dot-background-color-on-pressed: var(--gnome-switch-slider-background) !important;
}
