/* Scrollbars hack */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

toolbarbutton#alltabs-button {
	-moz-binding: url("scrollbars.xml#js");
}

#alltabs-button:not(#hack) {
	list-style-image: none !important;
	position: relative;
}

#alltabs-button:not(#hack) .toolbarbutton-icon {
	display: none !important;
}
#alltabs-button:not(#hack) .toolbarbutton-badge-stack {
	position: absolute;
}

#alltabs-button::before {
	position: relative;
	top: 2px;	
	content: url("../icons/pan-down-symbolic.svg");
}
@media (prefers-color-scheme: dark) {
	#alltabs-button::before {
		filter: invert(100%) brightness(200%);
	}
}
#alltabs-button:-moz-window-inactive::before {
	opacity: 0.7 !important;
}
