/* Controls */
/* Switchers, Checkboxes, etc. */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Switchers */
.toggle-button {
	--toggle-height: 26px !important;
	--toggle-width: 48px !important;
	--toggle-border-radius: 24px !important;
	--toggle-border-color: var(--gnome-switch-border-color) !important;
	--toggle-background-color:  var(--gnome-switch-background) !important;
	--toggle-background-color-hover: var(--gnome-switch-hover-background) !important;
	--toggle-background-color-active: var(--gnome-switch-active-background) !important;
	--toggle-background-color-pressed: var(--gnome-switch-pressed-background) !important;
	--toggle-background-color-pressed-hover: var(--gnome-switch-pressed-hover-background) !important;
	--toggle-background-color-pressed-active: var(--gnome-switch-pressed-active-background) !important;
	--toggle-dot-height: 22px !important;
	--toggle-dot-background-color: #ffffff !important;
	--toggle-dot-background-color-on-pressed: #ffffff !important;
	--toggle-dot-margin: 1px !important/*	border: 0 !important;*/
}

.toggle-button:enabled:hover {
  background: var(--toggle-background-color-hover);
  border-color: var(--toggle-border-color);
}

.toggle-button:enabled:active {
  background: var(--toggle-background-color-active);
  border-color: var(--toggle-border-color);
}

.toggle-button[aria-pressed="true"] {
  background: var(--toggle-background-color-pressed);
  border-color: transparent;
}

.toggle-button[aria-pressed="true"]:enabled:hover {
  background: var(--toggle-background-color-pressed-hover);
  border-color: transparent;
}

.toggle-button[aria-pressed="true"]:enabled:active {
  background: var(--toggle-background-color-pressed-active);
  border-color: transparent;
}

.toggle-button::before {
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
