/* Find bar  */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

findbar {
	padding: 0 !important;
	position: relative;
}

.findbar-container {
	align-items: center;
	padding: 6px !important;
	display: flex;
	justify-content: flex-start;
	position: relative;
	flex-direction: row;
	margin: 0 !important;
	width: calc(100% - 42px);
	height: auto !important;
}

hbox[anonid="findbar-textbox-wrapper"] {
	position: absolute;
	right: calc(50vw - 36px);
	transform: translate(50%, 0);
	display: flex !important;
}

.findbar-find-status, .found-matches {
	order: -1;
	padding: 7px 0;
}
.findbar-find-status {
	padding-left: 6px;
	flex: 1;
}

.findbar-textbox:focus + .findbar-find-previous {
	border-left-color: var(--gnome-focused-urlbar-border-color) !important;
}

.findbar-highlight, .findbar-case-sensitive, .findbar-match-diacritics, .findbar-entire-word, .findbar-label {
	margin: 0 3px !important;
	font-size: 0.9em !important;
}

.findbar-closebutton.close-icon {
	margin: 6px 6px 6px 0 !important;
	padding: 0 0 !important;
	border-radius: 100px !important;
}

@media (max-width: 1100px) {
	hbox[anonid="findbar-textbox-wrapper"] {
		position: relative;
		right: 0;
		transform: none;
	}
	.findbar-find-status, .found-matches {
		order: 0;
	}
}
