@media (prefers-color-scheme: dark) {
:root[tabsintitlebar] #nav-bar .titlebar-close,
:root[tabsintitlebar] #titlebar .titlebar-close,
:root[tabsintitlebar] #titlebar #titlebar-close {
	background: url("../titlebuttons/titlebutton-close-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar .titlebar-max,
:root[tabsintitlebar] #titlebar .titlebar-max,
:root[tabsintitlebar] #titlebar #titlebar-max {
	background: url("../titlebuttons/titlebutton-maximize-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar .titlebar-min,
:root[tabsintitlebar] #titlebar .titlebar-min,
:root[tabsintitlebar] #titlebar #titlebar-min {
	background: url("../titlebuttons/titlebutton-minimize-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar .titlebar-restore,
:root[tabsintitlebar] #titlebar .titlebar-restore,
:root[tabsintitlebar] #titlebar #titlebar-restore,
:root[tabsintitlebar][sizemode="maximized"] #nav-bar .titlebar-max,
:root[tabsintitlebar][sizemode="maximized"] #titlebar .titlebar-max,
:root[tabsintitlebar][sizemode="maximized"] #titlebar #titlebar-max {
	background: url("../titlebuttons/titlebutton-maximize-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar .titlebar-close:hover,
:root[tabsintitlebar] #titlebar .titlebar-close:hover,
:root[tabsintitlebar] #titlebar #titlebar-close:hover {
	background: url("../titlebuttons/titlebutton-close-hover-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar .titlebar-max:hover,
:root[tabsintitlebar] #titlebar .titlebar-max:hover,
:root[tabsintitlebar] #titlebar #titlebar-max:hover {
	background: url("../titlebuttons/titlebutton-maximize-hover-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar .titlebar-min:hover,
:root[tabsintitlebar] #titlebar .titlebar-min:hover,
:root[tabsintitlebar] #titlebar #titlebar-min:hover {
	background: url("../titlebuttons/titlebutton-minimize-hover-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar .titlebar-restore:hover,
:root[tabsintitlebar] #titlebar .titlebar-restore:hover,
:root[tabsintitlebar] #titlebar #titlebar-restore:hover,
:root[tabsintitlebar][sizemode="maximized"] #nav-bar .titlebar-max:hover,
:root[tabsintitlebar][sizemode="maximized"] #titlebar .titlebar-max:hover,
:root[tabsintitlebar][sizemode="maximized"] #titlebar #titlebar-max:hover {
	background: url("../titlebuttons/titlebutton-unmaximize-hover-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar .titlebar-close:active,
:root[tabsintitlebar] #titlebar .titlebar-close:active,
:root[tabsintitlebar] #titlebar #titlebar-close:active {
	background: url("../titlebuttons/titlebutton-close-active-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar .titlebar-max:active,
:root[tabsintitlebar] #titlebar .titlebar-max:active,
:root[tabsintitlebar] #titlebar #titlebar-max:active {
	background: url("../titlebuttons/titlebutton-maximize-active-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar .titlebar-min:active,
:root[tabsintitlebar] #titlebar .titlebar-min:active,
:root[tabsintitlebar] #titlebar #titlebar-min:active {
	background: url("../titlebuttons/titlebutton-minimize-active-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar .titlebar-restore:active,
:root[tabsintitlebar] #titlebar .titlebar-restore:active,
:root[tabsintitlebar] #titlebar #titlebar-restore:active,
:root[tabsintitlebar][sizemode="maximized"] #nav-bar .titlebar-max:active,
:root[tabsintitlebar][sizemode="maximized"] #titlebar .titlebar-max:active,
:root[tabsintitlebar][sizemode="maximized"] #titlebar #titlebar-max:active {
	background: url("../titlebuttons/titlebutton-unmaximize-active-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar:-moz-window-inactive .titlebar-close,
:root[tabsintitlebar] #titlebar:-moz-window-inactive .titlebar-close,
:root[tabsintitlebar] #titlebar:-moz-window-inactive #titlebar-close {
	background: url("../titlebuttons/titlebutton-backdrop-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar:-moz-window-inactive .titlebar-max,
:root[tabsintitlebar] #titlebar:-moz-window-inactive .titlebar-max,
:root[tabsintitlebar] #titlebar:-moz-window-inactive #titlebar-max {
	background: url("../titlebuttons/titlebutton-backdrop-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar:-moz-window-inactive .titlebar-min,
:root[tabsintitlebar] #titlebar:-moz-window-inactive .titlebar-min,
:root[tabsintitlebar] #titlebar:-moz-window-inactive #titlebar-min {
	background: url("../titlebuttons/titlebutton-backdrop-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar:-moz-window-inactive .titlebar-restore,
:root[tabsintitlebar] #titlebar:-moz-window-inactive .titlebar-restore,
:root[tabsintitlebar] #titlebar:-moz-window-inactive #titlebar-restore,
:root[tabsintitlebar][sizemode="maximized"] #nav-bar:-moz-window-inactive .titlebar-max,
:root[tabsintitlebar][sizemode="maximized"] #titlebar:-moz-window-inactive .titlebar-max,
:root[tabsintitlebar][sizemode="maximized"] #titlebar:-moz-window-inactive #titlebar-max {
	background: url("../titlebuttons/titlebutton-backdrop-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar:-moz-window-inactive .titlebar-close:hover,
:root[tabsintitlebar] #titlebar:-moz-window-inactive .titlebar-close:hover,
:root[tabsintitlebar] #titlebar:-moz-window-inactive #titlebar-close:hover {
	background: url("../titlebuttons/titlebutton-close-backdrop-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar:-moz-window-inactive .titlebar-max:hover,
:root[tabsintitlebar] #titlebar:-moz-window-inactive .titlebar-max:hover,
:root[tabsintitlebar] #titlebar:-moz-window-inactive #titlebar-max:hover {
	background: url("../titlebuttons/titlebutton-maximize-backdrop-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar:-moz-window-inactive .titlebar-min:hover,
:root[tabsintitlebar] #titlebar:-moz-window-inactive .titlebar-min:hover,
:root[tabsintitlebar] #titlebar:-moz-window-inactive #titlebar-min:hover {
	background: url("../titlebuttons/titlebutton-minimize-backdrop-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar] #nav-bar:-moz-window-inactive .titlebar-restore:hover,
:root[tabsintitlebar] #titlebar:-moz-window-inactive .titlebar-restore:hover,
:root[tabsintitlebar] #titlebar:-moz-window-inactive #titlebar-restore:hover,
:root[tabsintitlebar][sizemode="maximized"] #nav-bar:-moz-window-inactive .titlebar-max:hover,
:root[tabsintitlebar][sizemode="maximized"] #titlebar:-moz-window-inactive .titlebar-max:hover,
:root[tabsintitlebar][sizemode="maximized"] #titlebar:-moz-window-inactive #titlebar-max:hover {
	background: url("../titlebuttons/titlebutton-unmaximize-backdrop-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar][inFullscreen] #window-controls #restore-button {
	background: url("../titlebuttons/titlebutton-unmaximize-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar][inFullscreen] #window-controls #restore-button:hover {
	background: url("../titlebuttons/titlebutton-unmaximize-hover-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar][inFullscreen] #window-controls #restore-button:active {
	background: url("../titlebuttons/titlebutton-unmaximize-active-dark.svg") no-repeat;
	background-size: contain;
}
:root[tabsintitlebar][inFullscreen] #window-controls:-moz-window-inactive #restore-button {
	background: url("../titlebuttons/titlebutton-backdrop-dark.svg") no-repeat;
	background-size: contain;
}
}
