.bottom #dashtodockDashScrollview,
.top #dashtodockDashScrollview {
  -st-hfade-offset: 24px;
}

.left #dashtodockDashScrollview,
.right #dashtodockDashScrollview {
  -st-vfade-offset: 24px;
}

#dashtodockContainer {
  background-color: transparent;
}

#dashtodockContainer .number-overlay {
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
}

#dashtodockContainer .notification-badge {
  color: white;
  background-color: #0860F2;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  border-radius: 1000px;
  margin: 2px;
  padding: 0.2em 0.6em;
  font-weight: bold;
  text-align: center;
}

#dashtodockContainer.dashtodock #dash, #dashtodockContainer.dashtodock:overview #dash, #dashtodockContainer.extended #dash, #dashtodockContainer.extended:overview #dash {
  border: 1px solid rgba(0, 0, 0, 0.03);
}

#dashtodockContainer.straight-corner #dash, #dashtodockContainer.shrink.straight-corner #dash {
  border-radius: 0;
  margin: 0;
}

#dashtodockContainer.top.dashtodock #dash, #dashtodockContainer.top.dashtodock:overview #dash {
  border-radius: 18px;
  margin-top: 6px;
  padding: 3px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
}

#dashtodockContainer.top.shrink #dash {
  border-top-width: 0;
}

#dashtodockContainer.top.extended #dash, #dashtodockContainer.top.extended:overview #dash {
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.05);
}

#dashtodockContainer.bottom.dashtodock #dash, #dashtodockContainer.bottom.dashtodock:overview #dash {
  border-radius: 18px;
  margin-bottom: 6px;
  padding: 3px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
}

#dashtodockContainer.bottom.shrink #dash {
  border-bottom-width: 0;
}

#dashtodockContainer.bottom.extended #dash, #dashtodockContainer.bottom.extended:overview #dash {
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.05);
}

#dashtodockContainer.left.dashtodock #dash, #dashtodockContainer.left.dashtodock:overview #dash {
  border-radius: 18px;
  margin-left: 6px;
  padding: 3px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
}

#dashtodockContainer.left.shrink #dash {
  border-left-width: 0;
}

#dashtodockContainer.left.extended #dash, #dashtodockContainer.left.extended:overview #dash {
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: inset -1px 0 rgba(255, 255, 255, 0.05);
}

#dashtodockContainer.right.dashtodock #dash, #dashtodockContainer.right.dashtodock:overview #dash {
  border-radius: 18px;
  margin-right: 6px;
  padding: 3px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
}

#dashtodockContainer.right.shrink #dash {
  border-right-width: 0;
}

#dashtodockContainer.right.extended #dash, #dashtodockContainer.right.extended:overview #dash {
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: inset 1px 0 rgba(255, 255, 255, 0.05);
}

#dashtodockContainer.extended.top #dash, #dashtodockContainer.extended.bottom #dash {
  border-left: 0;
  border-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#dashtodockContainer.extended.right #dash, #dashtodockContainer.extended.left #dash {
  border-top: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#dashtodockContainer.dashtodock #dash {
  background: rgba(241, 241, 241, 0.15);
}

#dashtodockContainer.opaque #dash {
  background: rgba(241, 241, 241, 0.15);
}

#dashtodockContainer.transparent #dash {
  background: rgba(241, 241, 241, 0.15);
}

#dashtodockContainer:overview #dash {
  background: rgba(255, 255, 255, 0.15);
}

#dashtodockContainer.opaque:overview #dash, #dashtodockContainer.transparent:overview #dash {
  background-color: transparent !important;
  box-shadow: none !important;
}

#dashtodockContainer.extended:overview #dash, #dashtodockContainer.opaque.extended:overview #dash, #dashtodockContainer.transparent.extended:overview #dash {
  background-color: rgba(241, 241, 241, 0.15);
}

#dashtodockContainer.running-dots .dash-item-container > StButton, #dashtodockContainer.dashtodock .dash-item-container > StButton {
  transition-duration: 250ms;
  background-size: contain;
}

#dashtodockContainer.shrink .dash-item-container > StButton, #dashtodockContainer.dashtodock .dash-item-container > StButton {
  padding: 1px 2px;
}

#dashtodockContainer .app-well-app .overview-icon,
#dashtodockContainer .show-apps .overview-icon {
  padding: 8px;
  background-size: contain;
}

#dashtodockContainer.extended .app-well-app .overview-icon,
#dashtodockContainer.extended .show-apps .overview-icon, #dashtodockContainer.extended:overview .app-well-app .overview-icon,
#dashtodockContainer.extended:overview .show-apps .overview-icon {
  border-radius: 6px;
}

#dashtodockContainer .metro .overview-icon {
  border-radius: 0;
}

.dashtodock-app-well-preview-menu-item {
  padding: 1em 1em 0.5em 1em;
}

#dashtodockPreviewSeparator.popup-separator-menu-item-horizontal {
  width: 1px;
  height: auto;
  border-right-width: 1px;
  margin: 32px 0;
}
