
/* App Icons */
%app-well-app {
  .overview-icon {
    color: $light_fg_color;
    border-radius: $wm_radius * 1.5;
    padding: 12px;
    border: none;
    transition-duration: 100ms;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
  }

  &:hover .overview-icon,
  &:focus .overview-icon,
  &:selected .overview-icon {
    background-color: $light_divider_color;
    border-image: none;
    background-image: none;
  }

  &:active .overview-icon,
  &:checked .overview-icon {
    background-color: $light_track_color;
    box-shadow: none;
  }
}

// expanded folder
.app-folder-dialog {
  border-radius: $bd_radius * 4;
  border: none;
  box-shadow: none;
  background-color: rgba(if($scheme == 'nord', #20242c, #262626), 0.9);
  color: $light_alt_fg_color;

  .folder-name-container {
    padding: 24px 36px 0;
    spacing: 12px;

    .folder-name-label,
    .folder-name-entry {
      font-size: if($laptop == 'true', 16pt, 18pt);
      font-weight: bold;
    }

    .folder-name-entry {
      @extend %search-entry;
      width: if($laptop == 'true', 240px, 320px) !important;
    }

    /* FIXME: this is to keep the label in sync with the entry */
    .folder-name-label { padding: $base_padding; color: $light_alt_fg_color; }

    .edit-folder-button {
      background-color: $light_fill_color;
      color: $light_alt_fg_color;
      border: none;
      padding: 0;
      width: 36px;
      height: 36px;
      border-radius: $circular_radius;

      > StIcon { icon-size: $base_icon_size; }

      &:hover { background-color: $light_divider_color; }
      &:checked, &:active { background-color: $light_track_color; }
    }
  }

  .icon-grid {
    row-spacing: 12px;
    column-spacing: if($laptop == 'true', 12px, 18px);
    page-padding-top: 0;
    page-padding-bottom: 0;
    page-padding-left: 0;
    page-padding-right: 0;
  }

  & .page-indicators {
    margin-bottom: 18px;
  }
}

.app-folder-dialog-container {
  padding: 6px !important;

  width: if($laptop == 'true', 580px, 680px);
  height: if($laptop == 'true', 580px, 680px);
}

// Running app indicator (also shown in dash)
.app-well-app-running-dot {
  width: 5px; height: 5px;
  border-radius: 5px;
  background-color: $light_alt_fg_color;
  margin-bottom: 6px;

  StWidget.focused & {
    background-color: $primary_color;
  }
}

.page-indicator {
  padding: $base_padding $base_padding * 2;

  .page-indicator-icon {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin: 0;
    padding: 0;
    background-image: none;
    color: transparent;
    border: none;
    box-shadow: none;
    background-color: $light_alt_disabled_fg_color;
  }

  &:hover .page-indicator-icon {
    background-image: none;
    background-color: $light_disabled_fg_color;
  }

  &:active .page-indicator-icon {
    margin: 0;
    padding: 0;
    background-image: none;
    color: transparent;
    border: none;
    box-shadow: none;
    background-color: $light_alt_fg_color;
  }

  &:checked .page-indicator-icon {
    background-image: none;
    background-color: $light_alt_fg_color;
  }

  &:checked:active { background-image: none; }
}

// shutdown and other actions in the grid
.system-action-icon {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); // FIXME: this should really have a highlight
  background-color: $dark_bg_color;
  color: white;
  border-radius: 100px;
  icon-size: 48px;
}
