
// links
.shell-link {
  border-radius: $bt_radius;
  color: $link_color;
  &:hover {
    color: $link_color;
    background-color: rgba($link_color, $lower_opacity / 2);
  }
  &:active {
    color: $link_color;
    background-color: rgba($link_color, $lower_opacity);
  }
}

// Outline for low res icons
.lowres-icon {
  icon-shadow: 0 1px 2px rgba(black, 0.15);
}

// Dropshadow for large icons
.icon-dropshadow {
  icon-shadow: 0 2px 5px rgba(black, 0.15);
}
