/* Buttons */

%button {
  @include button(flat-normal);
  &:hover { @include button(flat-hover); }
  &:active { @include button(flat-active); }
  &:insensitive { @include button(flat-insensitive); }
  &:focus { @include button(flat-focus); }
}

.button {
  min-height: $small_size;
  padding: $container_padding $container_padding * 2;
  border-radius: $bt_radius;
  border: none;
  @extend %button;
}

.icon-button {
  min-height: $small_size;
  min-width: $small_size;
  padding: $container_padding;
  border-radius: $circular_radius;
  @extend %button;
}

%osd_button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  color: rgba(white, 0.75);

  &:hover {
    background-color: rgba(white, 0.1);
    color: white;
  }

  &:active {
    background-color: rgba(white, 0.25);
    color: white;
  }

  &:insensitive {
    background-color: transparent;
    color: rgba(white, 0.35);
  }
}
