/* Activities Ripple */

$ripple_size: 50px;

.ripple-box {
  // plus + 2px for the border (box-shadow)
  width: $ripple_size + 2px;
  height: $ripple_size + 2px;
  border-radius: 0 0 $ripple_size + 2px 0; // radius equals the size of the box to give us the curve

  @if $shell_version == 'old' {
    background-color: transparentize($primary_color, 0.65);
    box-shadow: 0 0 2px 2px lighten($primary_color, 20%);
  } @else {
    background-color: st-transparentize($primary_color, 0.65);
    box-shadow: 0 0 2px 2px st-lighten($primary_color, 20%);
  }

  // just a simple change to the border radius position
  &:rtl { border-radius: 0 0 0 $ripple_size + 2px; }
}
