// hotplug

.hotplug-notification-item {
  @include button(normal);
  padding: $container_padding * 2;
  border-style: solid;
  border-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;

  &:insensitive { @include button(insensitive); }
  &:hover { @include button(hover); }
  &:focus { @include button(focus); }
  &:active { @include button(active); }

  // radius is 2 pixel less to fit in bubble
  &:first-child {
    border-radius: 0 0 0 $bt_radius;
  }

  &:last-child {
    border-right-width: 0;
    border-radius: 0 0 $bt_radius 0;
  }

  &:first-child:last-child {
    border-radius: 0 0 $bt_radius $bt_radius;
  }
}

.hotplug-notification-item-icon {
  icon-size: 24px;
  padding: 0 4px;
}
