/* Looking Glass */

// Dialog
#LookingGlassDialog {
  background-color: $solid_osd_bg_color;
  spacing: $base_padding;
  margin: $base_padding;
  padding: 0;
  border: 1px solid black;
  border-radius: $wm_radius;
  box-shadow: 0 2px 6px rgba(black, 0.15);
  color: $osd_fg_color;

  > #Toolbar {
    padding: 0 $base_padding * 2;
    spacing: $base_padding;
    border: none;
    border-radius: 0;
    background-color: rgba($base_color, 0.01);
    box-shadow: inset 0 -1px 0 $light_divider_color;

    .lg-toolbar-button {
      padding: $base_padding $base_padding * 2;
      @extend %osd_button;
      border-radius: $bt_radius;
      margin: $base_padding / 2;

      > StIcon { icon-size: $base_icon_size; }
    }
  }

  .labels {
    spacing: $base_padding;
    color: $osd_fg_color;
  }

  .notebook-tab {
    -natural-hpadding: $base_padding * 2;
    -minimum-hpadding: $base_padding * 2;
    font-weight: bold;
    color: $light_hint_fg_color;
    padding: 0 16px;
    min-height: $medium_size;
    border-radius: 0;
    transition-duration: 100ms;
    border:L none;
    box-shadow: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;

    &:hover {
      color: $light_fg_color;
      text-shadow: none;
      border-color: $light_track_color;
    }

    &:selected {
      background-color: rgba($base_color, 0.01);
      border-color: $primary_color;
      color: $light_fg_color;
      text-shadow: none;
      box-shadow: none;
    }
  }

  StBoxLayout#EvalBox,
  StBoxLayout#ResultsArea { padding: $base_padding; spacing: $base_padding; }
}

.lg-dialog {
  StEntry {
    min-height: 22px;
    selection-background-color: $primary_color;
    selected-color: $light_alt_fg_color;
    caret-color: $light_fg_color;
    color: $light_fg_color;
    background-color: $light_divider_color;
  }

  .shell-link {
    color: $link_color;
    &:hover { color: lighten($link_color, 10%); }
    &:active { color: darken($link_color, 10%); }
  }

  .actor-link {
    color: $link_color;
    &:hover { color: lighten($link_color, 20%); }
    &:active { color: darken($link_color, 20%); }

    StIcon { icon-size: 12px; }
  }
}

.lg-completions-text {
  font-size: .9em;
  font-style: italic;
}

.lg-obj-inspector-title {
  spacing: $base_spacing;
}

.lg-obj-inspector-button {
  padding: 0 16px;
  border: none;
  border-radius: $bt_radius;
  @include font(button);

  &:hover { border: none; }
}

// Extensions
#lookingGlassExtensions {
  padding: $base_padding;
}

.lg-extensions-list {
  padding: $base_padding;
  spacing: $base_padding;
}

.lg-extension {
  border: none;
  border-radius: $bt_radius;
  padding: $base_padding * 2;
  spacing: $base_padding;
  background-color: $light_divider_color;
  color: $light_alt_fg_color;
  box-shadow: none;
}

.lg-extension-name {
  font-weight: bold;
  color: $light_disabled_fg_color;
}

.lg-extension-meta {
  spacing: $base_padding;
}

// Inspector
#LookingGlassPropertyInspector {
  background: lighten($solid_osd_bg_color, 5%);
  border: 1px solid black;
  border-radius: $wm_radius;
  padding: $base_padding * 2;
  box-shadow: 0 2px 6px 0 rgba(black, 0.15);
  color: $osd_fg_color;
}

.lg-debug-flag-button {
  color: $light_fg_color;
  spacing: $base_padding;

  StLabel {
    padding: 2 * $base_padding;
  }

  &:hover { color: lighten($light_fg_color, 20%); }
  &:active { color: darken($light_fg_color, 20%); }
}

.lg-debug-flags-header {
  color: $light_disabled_fg_color;
  padding-top: 2 * $base_padding;
  padding: $base_padding;
}
