/* Notifications & Message Tray */

// Banner notifications
.notification-banner {
  font-size: 1em;
  width: 34em;
  min-height: $menuitem_size * 2;
  margin: 12px 6px 8px;
  border-radius: $wm_radius;
  border: 1px solid if($variant=='light', rgba(black, 0), rgba(black, 0.75));
  text-shadow: none;
  box-shadow: 0 3px 5px rgba(black, 0.15);

  &, &:hover, &:focus {
    color: $fg_color;
    background-color: $popover_bg_color;
  }

  .notification-icon { padding: $base_padding; }

  .notification-content {
    padding: $base_padding;
    spacing: $base_padding;
  }

  .secondary-icon { icon-size: em(16px); }

  .notification-actions {
    background-color: transparent;
    padding-top: 0;
    border-top: 1px solid $borders_color;
    spacing: 0;
  }

  .notification-button {
    min-height: $medium_size;
    padding: 0 $base_padding * 2;
    background-color: transparent;
    color: $alt_fg_color;
    font-weight: 500;
    border-width: 0;

    &:first-child { border-radius: 0 0 0 $wm_radius; }

    &:last-child { border-radius: 0 0 $wm_radius 0; }

    &:only-child, &:first-child:last-child { border-radius: 0 0 $wm_radius $wm_radius; }

    &:focus {
      background-color: transparent;
      color: $alt_fg_color;
      box-shadow: inset 0 0 0 2px $divider_color !important;
    }

    &:hover, &:focus:hover {
      background-color: $divider_color;
      color: $fg_color;
      box-shadow: none;
    }

    &:active {
      background-color: $track_color;
      color: $fg_color;
    }
  }
}

// counter
.summary-source-counter {
  font-size: $base_font_size - 1pt;
  font-weight: bold;
  height: 1.6em; width: 1.6em;
  -shell-counter-overlap-x: 3px;
  -shell-counter-overlap-y: 3px;
  background-color: $primary_color;
  color: $light_alt_fg_color;
  border: 2px solid $primary_color;
  box-shadow: 0 2px 2px rgba(black, 0.5);
  border-radius: 0.9em; // should be 0.8 but whatever; wish I could do 50%;
}

// chat bubbles
.chat-body { spacing: 5px; }
.chat-response { margin: 5px; }
.chat-log-message { color: $fg_color; }
.chat-new-group { padding-top: 1em; }
.chat-received {
  padding-left: 4px;
  &:rtl { padding-left: 0px; padding-right: 4px; }
}

.chat-sent {
  padding-left: 18pt;
  color: $alt_fg_color;
  &:rtl { padding-left: 0; padding-right: 18pt; }
}

.chat-meta-message {
  padding-left: 4px;
  @include font(caption);
  color: $hint_fg_color;
  &:rtl { padding-left: 0; padding-right: 4px; }
}
