/* Search */

%search-section-content-item {
  border-radius: $bt_radius;
  padding: $base_padding * 2;
  transition-duration: 0;
  text-align: center;
  background-color: transparent;

  &:focus,
  &:hover,
  &:selected {
    background-color: $light_divider_color;
    transition: none;
  }

  &:active,
  &:checked {
    background-color: $light_track_color;
    transition-duration: 150ms;
  }
}

// search overview container
#searchResultsContent {
  max-width: 1024px;
  spacing: $base_margin * 2;
}

// search results sections "the boxes"
.search-section {
  // This should be equal to #searchResultsContent spacing
  spacing: $base_margin * 2;

  // separator
  .search-section-separator {
    height: 0;
    background-color: $light_divider_color;
  }
}

// content
.search-section-content {  // This is the space between the provider icon and the results container
  spacing: $base_margin * 2;
  border-radius: $modal_radius;
  padding: $base_padding * 3;
  border: none;
  box-shadow: none;
  background: $light_divider_color;
  text-shadow: none;
  color: $light_alt_fg_color;
}

// "no results" text
.search-statustext {
  font-size: 2em;
  font-weight: bold;
  color: $light_hint_fg_color;
}

.grid-search-results {
  spacing: $base_spacing * 6;
}

// Search results with icons
.grid-search-result {
  @extend %app-well-app;
}

// search result provider
.search-provider-icon {
  @extend %search-section-content-item;
  // content
  .list-search-provider-content {
    spacing: $base_spacing * 2;

    // provider labels
    .list-search-provider-details {
      width: 120px;
      margin-top: 0;
      color: $light_hint_fg_color;
      // font-weight: bold;
    }
  }
}

// search results list
.list-search-results {
  spacing: $base_spacing;
}

// search result listitem
.list-search-result {
  @extend %search-section-content-item;
  // content
  .list-search-result-content {
    spacing: $base_padding;
  }

  // list item title (with leading icon)
  .list-search-result-title {
    spacing: $base_spacing * 2;
    // font-weight: bold;
  }

  // list item description
  .list-search-result-description { color: $light_alt_fg_color; }
}
