// Search entry
%search-entry, #overview .search-entry {
  width: 320px;
  min-height: $menuitem_size;
  padding: 0 10px !important;
  background-clip: padding-box;
  color: $light_hint_fg_color;
  caret-color: $light_alt_fg_color;
  selection-background-color: $light_track_color;
  selected-color: $light_alt_fg_color;
  @include search_entry(normal, $fc:$light_track_color);
  box-shadow: none;

  &:hover {
    @include search_entry(hover, $fc:$light_alt_fg_color);
    color: $light_alt_fg_color;
    box-shadow: none;
  }

  &:focus {
    @include search_entry(focus, $fc:$light_alt_fg_color);
    color: $light_alt_fg_color;
    box-shadow: none;
  }

  .search-entry-icon {
    icon-size: 16px;
    padding: 0 0;
    color: $light_hint_fg_color;
  }

  &:hover, &:focus {
    .search-entry-icon { color: $light_alt_fg_color; }
  }

  &:insensitive {
    color: $light_disabled_fg_color;
  }

  StLabel.hint-text {
    color: $light_hint_fg_color;
  }
}
