/* Dialogs */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

window {
	padding: 0 !important;
}

/* Browser dialog prompts center */
.dialogOverlay {
	display: grid;
	place-content: center;
	justify-content: center;
	grid-auto-rows: min(90%, var(--doc-height-px));
}
.dialogOverlay[topmost="true"]:not(.dialogOverlay-window-modal-dialog-subdialog), #window-modal-dialog::backdrop {
	background-color: rgba(0, 0, 0, .5) !important;
}

#window-modal-dialog {
	margin-top: auto !important;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* Dialog */
.dialogBox {
	border-radius: 12px !important;
	margin: 0 !important;
}

window[role="dialog"] {
	background: var(--gnome-toolbar-background) !important;
	border: 0 !important;
	box-shadow: var(--gnome-popover-shadow) !important;
	padding: 0 !important;
}

dialog {
	padding: 0 !important;
}

dialog[subdialog] {
	border-radius: 12px !important;
	border: none !important;
	box-shadow: var(--gnome-popover-shadow) !important;
}

/* Content */
.dialog-content-box,
#dialogGrid {
	padding: 24px;
	padding-bottom: 0;
}

#titleContainer {
	padding: 6px !important;
	margin-top: 6px !important;
	justify-content: center !important;
}

.titleIcon {
	background-color: transparent !important;
}

#bookmarkpropertiesdialog #editBookmarkPanelContent {
	padding-inline: 6px !important;
	margin-inline: 6px !important;
}

/* Buttons */
.dialog-button-box {
	display: flex !important;
	border-top: 1px solid var(--gnome-menu-border-color) !important;
	padding: 3px !important;
}

.dialog-button-box button:not(#hack) {
	height: auto !important;
	max-height: unset !important;
	padding: 10px 14px !important;
	margin: 3px !important;
	border-radius: 6px !important;
	flex: 1;
}

/* Buttons borders - only suppor for cancel/ok */
/*.dialog-button-box button[dlgtype="accept"] {*/
/*	border-right: 0 !important;*/
/*	border-left: 0 !important;*/
/*}*/
/*.dialog-button-box button[dlgtype="cancel"]:not(#hack) {*/
/*	border-left: 0 !important;*/
/*}*/

/* Hadler dialog */
#os-default-handler image {
	display: none !important;
}
#os-default-handler .name {
	font-weight: normal !important;
}
