/* Toolbox, a container for all toolbars (toolbox#navigator-toolbox):
 * - menu bar (toolbar#toolbar-menubar)
 * - tab bar (toolbar#TabsToolbar)
 * - header bar (toolbar#nav-bar)
 * - bookmark bar (toolbar#PersonalToolbar)
 * - add-ons can add their own toolbars (toolbar) */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Toolbox colors */
#navigator-toolbox {
	border: 0 !important;
	background: none !important;
}

.toolbarbutton-icon {
	color: var(--gnome-toolbar-color);
	fill: var(--gnome-toolbar-color);
}

#nav-bar, #PersonalToolbar, #toolbar-menubar {
	border: 0 !important;
	color: var(--gnome-toolbar-color);
	background: var(--gnome-toolbar-background) !important;
	border-bottom: none !important;
}
#TabsToolbar {
	border: 0 !important;
	background: var(--gnome-tabstoolbar-background) !important;
	border-bottom: 1px solid var(--gnome-toolbar-border-color) !important;
	box-shadow: inset 0 1px var(--gnome-toolbar-border-color) !important;
}
findbar {
	border: 0 !important;
	background: var(--gnome-findbar-background) !important;
	border-bottom: 1px solid var(--gnome-toolbar-border-color) !important;
}
#nav-bar:-moz-window-inactive,
#PersonalToolbar:-moz-window-inactive, #toolbar-menubar:-moz-window-inactive,
#TabsToolbar:-moz-window-inactive, findbar:-moz-window-inactive {
	background: var(--gnome-inactive-toolbar-background) !important;
}

#navigator-toolbox:-moz-window-inactive label, #navigator-toolbox:-moz-window-inactive image,
#downloads-indicator-anchor:-moz-window-inactive,
findbar:-moz-window-inactive image:not(#hack),
findbar:-moz-window-inactive label,
#viewButton:-moz-window-inactive dropmarker {
	opacity: 0.7 !important;
}

#toolbar-menubar:not([inactive=true]) {
	margin-bottom: 0 !important;
}

#PersonalToolbar {
	padding: 2px 4px 0 4px !important;
	height: 32px !important;
}

/* Overrides: Remove border below the menu bar / above the header bar */
#TabsToolbar:not([collapsed="true"]) + #nav-bar {
	border-top-width: 0 !important;
}

#navigator-toolbox::after {
	border-bottom-width: 0 !important;
}

/* Reorder toolbars */
#navigator-toolbox #nav-bar, findbar {
	-moz-box-ordinal-group: 0;
}
#navigator-toolbox #PersonalToolbar {
	-moz-box-ordinal-group: 1;
}
#navigator-toolbox #titlebar {
	-moz-box-ordinal-group: 2;
}
#navigator-toolbox toolbar {
	-moz-box-ordinal-group: 10;
}
#navigator-toolbox #TabsToolbar {
	-moz-box-ordinal-group: 100;
}

/* Overrides: Don't shift other toolbars on tab drag and drop */
#TabsToolbar[movingtab] {
	padding-bottom: 0 !important;
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}
#TabsToolbar[movingtab] + #nav-bar {
	margin-top: 0 !important;
}

#PersonalToolbar {
	padding: 0 3px 3px !important;
	height: 32px !important;
	max-height: 32px !important;
}

/* Sidebar */
#sidebar-box,
.sidebar-panel[lwt-sidebar] {
	color: var(--gnome-toolbar-color) !important;
	background: var(--gnome-toolbar-background) !important;
}

/* Customization page */
#customization-container:-moz-lwtheme {
	background-image: linear-gradient(var(--gnome-browser-before-load-background), var(--gnome-browser-before-load-background)) !important;
}

#customization-footer {
	border-top: 1px solid var(--gnome-toolbar-border-color) !important;
	color: var(--gnome-toolbar-color) !important;
	background: var(--gnome-toolbar-background) !important;
	border-radius: 0 0 12px 12px !important;
}

/* bookmark-item */
toolbarbutton.bookmark-item {
	padding: 3px 6px !important;
	margin: 0 2px !important;
	border-radius: 3px !important;
	max-height: 24px !important;
}
