/* Dialogs */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Browser dialog prompts center */
.content-prompt {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/* Dialog */
.dialogBox {
    border-radius: 9px !important;
	margin-top: 0 !important;
}

#commonDialog {
	background: var(--gnome-popover-background) !important;
	border: 0 !important;
	box-shadow: var(--gnome-popover-shadow) !important;
	padding: 0 !important;
}

dialog {
	padding: 0 !important;
}

/* Content */
.dialog-content-box {
	padding: 24px;
}
#titleContainer {
	justify-content: center !important;
}

/* Buttons */
.dialog-button-box {
	display: flex !important;
}

.dialog-button-box button:not(#hack) {
	height: auto !important;
	max-height: unset !important;
	padding: 10px 14px !important;
	margin: 0 !important;
	border-radius: 0 !important;
	flex: 1;
	border-bottom: 0 !important;
}

/* Buttons borders - only suppor for cancel/ok */
.dialog-button-box button[dlgtype="accept"] {
	border-right: 0 !important;
	border-left: 0 !important;
}
.dialog-button-box button[dlgtype="cancel"]:not(#hack) {
	border-left: 0 !important;
}
