/* Tabs bar  */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

:root {
	--space-above-tabbar: 0 !important;
}

/* Fix tabs bar icon sizes */
#TabsToolbar tab {
	margin-bottom: 6px !important;
}

/* Tabs bar height */
#tabbrowser-tabs,
#tabbrowser-tabs arrowscrollbox {
	min-height: 36px !important;
	--tab-min-height: 36px !important;
}

.tab-background, .tab-stack {
	height: 36px !important;
	min-height: 36px !important;
}

tab > stack {
	margin: 0 3px !important;
}

:root:not([sizemode="normal"]) .titlebar-spacer[type="pre-tabs"], :root[gtktiledwindow="true"] .titlebar-spacer[type="pre-tabs"] { /* reset */
	display: flex !important;
}

#TabsToolbar .titlebar-spacer {
	width: 8px !important;
}

.tabbrowser-tab,
.tab-background {
	border: none !important;
	box-shadow: none !important;
	border-radius: 8px !important;
	padding: 0 !important;
	background-image: none !important;
}

.tabbrowser-tab:not([visuallyselected="true"], [multiselected]), .tabbrowser-tab:-moz-lwtheme {
	color: var(--gnome-tabbar-tab-color) !important;
}

.tabbrowser-tab .tab-background:not([selected=true]) {
	color: var(--gnome-tabbar-tab-active-color) !important;
}

.tab-background {
	margin: 0 !important;
	transition: all 200ms;
	margin-block: 0 !important;
}

#TabsToolbar .tabbrowser-tab:not([selected=true]) .tab-background {
	background: var(--gnome-tabbar-tab-background) !important;
}

#TabsToolbar .tabbrowser-tab:not([selected=true]) .tab-background:-moz-window-inactive {
	background: var(--gnome-inactive-tabbar-tab-background) !important;
}

/* Tab hover */
#TabsToolbar .tabbrowser-tab:not([selected=true]):hover > .tab-stack > .tab-background {
	background: var(--gnome-tabbar-tab-hover-background) !important;
}

/* Active tab */
.tab-background:is([selected]) {
	background: var(--gnome-tabbar-tab-active-background) !important;
	animation: none !important;
	transition: none !important;
}

.tab-background:is([selected]):-moz-window-inactive {
	background: var(--gnome-inactive-tabbar-tab-active-background) !important;
}

/* Tab labels */
tab .tab-label {
	color: var(--gnome-tabbar-tab-color) !important;
}
tab:hover .tab-label {
	color: var(--gnome-tabbar-tab-hover-color) !important;
}
tab[selected] .tab-label {
	color: var(--gnome-tabbar-tab-active-color) !important;
}
tab:-moz-window-inactive .tab-label {
	color: var(--gnome-inactive-tabbar-tab-color) !important;
}
tab[selected]:-moz-window-inactive .tab-label {
	color: var(--gnome-inactive-tabbar-tab-active-color) !important;
}

/* Center all inside tab */
.tab-content {
	display: flex;
	flex-direction: row;
	justify-content: center !important;
	align-items: center !important;
	min-width: 100% !important;
	padding: 0 10px !important;
}

.tab-label {
	margin-inline: 0 !important;
}

/* Prevent tab icons size breaking */
.tab-icon-image, .tab-icon-sound, .tab-throbber, .tab-throbber-fallback, .tab-close-button {
	min-width: 16px;
}

.tabbrowser-tab[soundplaying="true"] .tab-icon-image,
.tabbrowser-tab[muted="true"] .tab-icon-image {
	margin-top: 3px !important;
	margin-left: 2px !important;
}

.tab-icon-overlay {
	height: 24px !important;
	width: 24px !important;
	padding: 4px !important;
	border-radius: 100px !important;
}

.tab-icon-overlay:not([crashed]):is([pinned], [sharing]) {
	top: 0 !important;
	inset-inline-end: 0 !important;
}

.tabbrowser-tab .tab-icon-overlay:not([crashed]):is([pinned], [sharing]) {
	background-color: var(--gnome-tabbar-tab-background) !important;
}

.tabbrowser-tab[selected=true] .tab-icon-overlay:not([crashed]):is([pinned], [sharing]) {
	background-color: var(--gnome-tabbar-tab-active-background) !important;
}

.tabbrowser-tab .tab-icon-overlay:not([crashed]):is([pinned], [sharing]):hover {
	background-color: var(--gnome-tabbar-tab-hover-background) !important;
}

/* Adjust tab label width */
.tab-label-container {
	min-width: 0 !important;
	max-width: min-content !important;
}

/* Put tab close button and icon sound to the right */
.tab-icon-sound[soundplaying="true"], .tab-icon-sound[muted="true"],
.tab-icon-sound[activemedia-blocked="true"] {
	margin-left: auto !important;
}
/*.tabbrowser-tab:not([soundplaying]):not([muted]):not([activemedia-blocked]) .tab-close-button {*/
/*	margin-left: auto !important;*/
/*}*/
.tab-icon-sound {
	margin-right: 6px;
}

/* Force tab favicon to the center */
.tab-throbber, .tab-throbber-fallback,
.tabbrowser-tab:not([busy]):not([soundplaying="true"],[muted="true"]) .tab-icon-image,
.tabbrowser-tab:not([class*="identity-color-"]) .tab-icon-stack {
	margin-left: auto !important;
}

/* separate class for multi-tab alignment*/
.tabbrowser-tab[class*="identity-color-"] > .tab-stack > .tab-content > .tab-icon-stack {
	margin-left: auto !important;
}

/* If tab favicon is not present, force tab label to the center */
.tabbrowser-tab .tab-label-container {
	margin-left: 0 !important;
	margin-right: auto !important;
}

.tabbrowser-tab:not([image]):not([busy]):not([progress]) .tab-label-container {
	margin-left: auto !important;
}

/* Fix website with no favicon centred text */
.tabbrowser-tab:not([image]) .tab-icon-overlay:not([pinned], [sharing], [crashed]) .tab-icon-stack {
	margin-left: 0 !important
}

.tabbrowser-tab:not([image], [busy]) .tab-icon-stack {
	margin-left: 0 !important
}

/*Align personal bookmarks v89 */
#personal-bookmarks {
	-moz-box-align: center !important;
}

/* fix misc spacing between tabs */
.tabbrowser-tab {
	padding-inline: 0px !important;
}

.close-icon {
	height: 16px !important;
	padding: 0 !important;
	width: 16px !important;
}

.tab-close-button {
	-moz-appearance: none !important;
	margin-inline-end: 0 !important;
	border: none !important;
	box-sizing: content-box; /* Avoid deformation on flexbox */
	border-radius: 3px !important;
	list-style-image: url("../icons/window-close-symbolic.svg") !important;
	height: 16px;
	opacity: .3;
	padding: 0;
	width: 16px;
}

.tabbrowser-tab > .tab-stack > .tab-content > .tab-close-button {
	visibility: hidden;
}

.tabbrowser-tab:hover > .tab-stack > .tab-content > .tab-close-button {
	visibility: visible;
}

@media (prefers-color-scheme: dark) {
	.tab-close-button {
		list-style-image: url("../icons/window-close-symbolic-light.svg") !important;
	}
}
:root:-moz-window-inactive .tab-close-button:not(#hack) {
	opacity: .18 !important;
}
:root:not(:-moz-window-inactive) .tab-close-button:hover {
	background-color: var(--gnome-button-hover-color) !important;
	border: none !important;
	opacity: 1;
}
:root:not(:-moz-window-inactive) .tab-close-button:active {
	background-color: var(--gnome-button-active-color) !important;
}

.tab-close-button:active:not(:hover) {
	background-image: none !important;
	box-shadow: none !important;
}

/* Tab close button etc. positioning */
.tab-throbber, .tab-icon-image, .tab-sharing-icon-overlay, .tab-icon-sound, .tab-close-button {
	margin-top: 0 !important;
}

/* Remove blue line above tabs */
.tab-line {
	display: none;
}

/* Remove tab separators */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
	border-color: transparent !important;
	border-image: none !important;
}

/* Tab attention dot */
.tabbrowser-tab:is([image], [pinned]) > .tab-stack > .tab-content[attention]:not([selected="true"]), .tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]), #firefox-view-button[attention] {
	background-image: radial-gradient(circle, var(--gnome-tab-attention-icon-color), var(--gnome-tab-attention-icon-color) 2px, transparent 2px) !important;
	background-position: center bottom 3px !important;
	background-size: 4px 4px;
	background-repeat: no-repeat;
}

/* Full width tabs */
.tabbrowser-tab:not([style^="max-width"]):not([pinned]),
.tabbrowser-tab[style^="max-width: 100px !important;"]:not([pinned]) {
	max-width: 100% !important;
}

.tabbrowser-tab:not([style^="max-width"]):not([pinned]):not([fadein]),
.tabbrowser-tab[style^="max-width: 100px !important;"]:not([pinned]):not([fadein]) {
	max-width: .1px !important;
}

/* Remove alt colours references for multi tabs*/
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-bottom-line {
	display: none;
}

.tabbrowser-tab[class*="identity-color-"][pinned] {
	display: flex;
}

#TabsToolbar #alltabs-button {
	padding: 0 0 !important;
	visibility: collapse !important;
}

#TabsToolbar .toolbarbutton-1,
#tabs-newtab-button, #TabsToolbar #new-tab-button {
	margin: 0 2px !important;
	padding: 0 10px !important;
	border-radius: 8px !important;
}

#TabsToolbar .toolbarbutton-1 image,
#tabs-newtab-button image, #TabsToolbar #new-tab-button image {
	margin: 0 !important;
	padding: 0 !important;
	height: 16px !important;
	width: 16px !important;
}

#TabsToolbar #scrollbutton-up, #TabsToolbar #scrollbutton-down {
	height: 36px !important;
}

#TabsToolbar #scrollbutton-up image, #TabsToolbar #scrollbutton-down image {
	margin: 0 !important;
	padding: 0 !important;
	height: 16px !important;
	width: 16px !important;
}

/* firefox-view-button */
:root:not([privatebrowsingmode="temporary"]):not([firefoxviewhidden]) :is(#firefox-view-button, #wrapper-firefox-view-button) + #tabbrowser-tabs {
	border-inline-start: none !important;
	padding-inline-start: 0 !important;
	margin-inline-start: 0 !important;
}

#firefox-view-button {
	border-radius: 8px !important;
	background: var(--gnome-tabbar-tab-background) !important;
}

#firefox-view-button:hover {
	background: var(--gnome-tabbar-tab-hover-background) !important;
}

#firefox-view-button:checked, #firefox-view-button:active {
	background: var(--gnome-tabbar-tab-active-background) !important;
}

#firefox-view-button > .toolbarbutton-icon {
	filter: none !important;
	box-shadow: none !important;
}
