$variant: 'light';

@import '../../sass/variables';
@import '../../sass/colors';
@import '../../sass/gtk/drawing';
@import '../../sass/gtk/common-3.0';
@import '../../sass/gtk/apps-3.0';
@import '../../sass/gtk/colors-public';
