$variant: 'dark';
$laptop: 'false';
$trans: 'true';

@import '../../sass/colors';
@import '../../sass/variables';
@import '../../sass/gtk/drawing';
@import '../../sass/gtk/common';
@import '../../sass/gtk/applications';
@import '../../sass/gtk/unity';
@import '../../sass/gtk/granite';
@import '../../sass/gtk/lightdm';
@import '../../sass/gtk/transparent_widgets';
@import '../../sass/gtk/budgie.scss';
@import '../../sass/gtk/colors-public';
