// NOTIFICATIONS & MESSAGE TRAY

.url-highlighter { link-color: $link_color; }

// Banners
.notification-banner {
  font-size: 1em;
  width: 34em;
  min-height: $menuitem_size * 2;
  margin: 5px;
  border-radius: $bt_radius;
  color: $fg_color;
  background-color: rgba($base_color, 0.92);
  border: none;
  box-shadow: 0 3px 8px rgba(black, 0.25);

  &:hover { background-color: rgba($base_color, 0.95); }
  &:focus { background-color: $base_color; }

  .notification-icon { padding: 5px; }
  .notification-content { padding: 5px; spacing: 5px; }
  .secondary-icon { icon-size: em(16px); }
  .notification-actions {
    background-color: transparent;
    padding-top: 0;
    border-top: 1px solid $borders_color;
    spacing: 1px;
  }

  .notification-button {
    min-height: 40px;
    padding: 0 16px;
    background-color: transparent;
    color: $alt_fg_color;
    font-weight: 500;
    border-width: 0;

    &:first-child { border-radius: 0 0 0 $bt_radius; }

    &:last-child { border-radius: 0 0 $bt_radius 0; }

    &:only-child, &:first-child:last-child { border-radius: 0 0 $bt_radius $bt_radius; }

    &:focus {
      background-color: transparent;
      color: $alt_fg_color;
      box-shadow: inset 0 0 0 2px $divider_color;
    }

    &:hover, &:focus:hover {
      background-color: $divider_color;
      color: $fg_color;
      box-shadow: none;
    }

    &:active {
      background-color: $track_color;
      color: $fg_color;
    }
  }
}

// Eeeky things
.magnifier-zoom-region {
  border: 2px solid $primary_color;
  &.full-screen { border-width: 0; }
}
