// OSD
.osd-window {
  @extend %osd-panel;
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  margin: 32px;
  min-width: 64px;
  min-height: 64px;

  .osd-monitor-label { @include font(display-2); }

  .level {
    height: 4px;
    border-radius: 3px;
    background-color: rgba(black, 0.1);
    color: $fg_color;

    // For >= 3.29.90
    -barlevel-height: 4px;
    // FIXME: above 'background-color' property rendered correct trough
    // colour already, so keep -background-color style-property transparent
    -barlevel-background-color: rgba(black, 0.1);
    -barlevel-active-background-color: $selected_bg_color;
    -barlevel-overdrive-color: $destructive_color;
    -barlevel-overdrive-separator-width: 2px;
    -barlevel-border-width: 0;
    -barlevel-border-color: rgba(black, 0.15);
  }

  .level-bar {
    background-color: white;
    border-radius: 16px;
  }
}

// Pad OSD
.pad-osd-window {
  padding: 32px;
  background-color: $dark_bg_color;

  .pad-osd-title-box { spacing: 12px; }
  .pad-osd-title-menu-box { spacing: 6px; }
}

.combo-box-label {
  width: 15em;
}
