#overview {
  spacing: 24px;
  StScrollBar { @extend %overview_scrollbar; }
}

.overview-controls {
  padding-bottom: 32px;
}

.window-picker { //container around window thumbnails
  -horizontal-spacing: 16px;
  -vertical-spacing: 16px;
  padding: 0 16px 32px;
  spacing: 12px;

  &.external-monitor { padding: 16px; }
}

.window-clone-border {
  border: 4px solid $light_track_color;
  border-radius: $bt_radius;
  // For window decorations with round corners we can't match
  // the exact shape when the window is scaled. So apply a shadow
  // to fix that case
  box-shadow: inset 0 0 0 1px $light_track_color;
}

.window-caption {
  spacing: 25px;
  color: $light_alt_fg_color;
  background-color: $dark_bg_color;
  border-radius: $bt_radius;
  padding: 4px 8px;
  border: none;
  font-weight: normal;
  @include font(body);
}

//search entry
%search-entry, .search-entry {
  width: 320px - 8px * 2;
  padding: 0 8px;
  border: none;
  color: $light_hint_fg_color;
  caret-color: $light_alt_fg_color;
  selection-background-color: $light_track_color;
  selected-color: $light_alt_fg_color;
  @include search_entry(normal, $fc:$light_track_color);

  &:focus {
    @include search_entry(focus, $fc:$light_alt_fg_color);
    padding: 0 8px;
    border: none;
    color: $light_alt_fg_color;
  }

  .search-entry-icon {
    icon-size: 16px;
    padding: 0 0;
    color: $light_hint_fg_color;
  }

  &:hover, &:focus {
    .search-entry-icon { color: $light_alt_fg_color; }
  }

  &:insensitive {
    border: none;
    color: $light_disabled_fg_color;
  }

  StLabel.hint-text {
    color: $light_hint_fg_color;
  }
}

//search results

// #searchResultsBin {
//   max-width: 1000px;
// }

#searchResultsContent {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  spacing: 16px;
}

.search-section {  // This should be equal to #searchResultsContent spacing
  spacing: 16px;

  .search-section-separator {
    height: 1px;
    background-color: $light_divider_color;
  }
}

.search-section-content {  // This is the space between the provider icon and the results container
  spacing: 32px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: none;
  text-shadow: none;
  color: $light_alt_fg_color;
}

.search-statustext { // "no results"
  @extend %status_text;
}

// search result provider
.search-provider-icon {
  @extend %app-well-app;

  // content
  .list-search-provider-content {
    spacing: 12px;

    // provider labels
    .list-search-provider-details {
      width: 120px;
      margin-top: 0;
      color: $light_hint_fg_color;
      // font-weight: bold;
    }
  }
}

.list-search-results { spacing: 3px; }

.list-search-result-content { spacing: 30px; }
.list-search-result-title { @include font(subheading); color: $light_alt_fg_color; spacing: 12px; }
.list-search-result-description { color: $light_alt_fg_color; }
.list-search-provider-details { width: 150px; color: $light_alt_fg_color; margin-top: 0.24em; }
.list-search-provider-content { spacing: 20px; }
.search-provider-icon { padding: 15px; }


// Window Cycler
.cycler-highlight { border: 4px solid $primary_color; }

// Workspace Switcher
.workspace-switcher-group { padding: 8px; }

.workspace-switcher-container {
  @extend %osd-panel;
}

.workspace-switcher {
  background: transparent;
  border: 0px;
  border-radius: 0px;
  padding: 0px;
  spacing: 8px;
}

.ws-switcher-active-up, .ws-switcher-active-down {
  height: 48px;
  background-color: $primary_color;
  color: $light_alt_fg_color;
  background-size: 32px;
  border-radius: $bt_radius;
}

.ws-switcher-box {
  height: 48px;
  border: none;
  background: $divider_color;
  border-radius: $bt_radius;
}
