StScrollView {
  &.vfade { -st-vfade-offset: 32px; }
  &.hfade { -st-hfade-offset: 32px; }
}

StScrollBar {
  padding: 0;

  StScrollView & {
    min-width: 16px;
    min-height: 6px;
  }

  StBin#trough {
    margin: 6px;
    border-radius: 100px;
    background-color: $divider_color;
  }

  StButton#vhandle, StButton#hhandle {
    border-radius: 100px;
    background-color: $hint_fg_color;
    //border: 4px solid transparent; //would be nice to margin or at least to transparent
    margin: 6px;
    &:hover { background-color: $alt_fg_color; }
    &:active { background-color: $fg_color; }
  }
}
