.toggle-switch {
  width: 40px;
  height: 24px;
  background-size: contain;
  background-image: url("assets/toggle-off.svg");

  &:checked { background-image: url("assets/toggle-on.svg"); }

  .popup-menu-item.selected & {
    background-image: url("assets/toggle-off.svg");

    &:checked { background-image: url("assets/toggle-on.svg"); }
  }
}

@each $v in us, intl {
  .toggle-switch-#{$v} {
    background-image: url("assets/toggle-off.svg");
    &:checked { background-image: url("assets/toggle-on.svg"); }
  }
}
