//
// Nemo
//
.nemo-desktop.nemo-canvas-item {
  @extend %nautilus-desktop-canvas-item;
}

.nemo-window.background {
  .nemo-places-sidebar {
    &.frame { border-width: 0; }

    .places-treeview {
      -NemoPlacesTreeView-disk-full-bg-color: $dark_solid_borders_color;
      -NemoPlacesTreeView-disk-full-fg-color: lighten($progress_color, 5%);
    }
  }

  .sidebar {
    color: $dark_sidebar_fg;
    background-color: $dark_sidebar_bg;

    scrolledwindow.frame { border: none; } // Removed treeview double borders

    .view, row {
      background-color: transparent;
      color: $dark_sidebar_fg;
      @extend %row_activatable;

      &.cell:selected {
        color: $fg_color;
        background-color: $sidebar_theme_color;
      }

      &.expander {
        color: mix($dark_sidebar_fg, $dark_sidebar_bg, 50%);

        &:hover { color: $dark_sidebar_fg; }
      }
    }

    // .NemoSidebar {
    // }
  }

  paned > separator { background-image: image($solid_borders_color); }

  .nemo-window-pane {
    widget.entry { // Rename entry
      border: 2px solid if($variant =='light', $entry_highlight, $selected_bg_color);
      background-color: $entry_bg;
      border-radius: $bt_radius;
      box-shadow: none;

      &:selected {
        @extend %selected_items;

        &:focus { @extend %selected_items; }
      }
    }

    treeview.view { // Treeview rename entry
      &, &:selected {
        entry {
          color: $fg_color;
          background-color: $base_color;
          border-radius: $bt_radius;
        }
      }
    }

    > notebook {
      background-color: $base_color;

      infobar > revealer > box { border-bottom: 1px solid $borders_color; }

      box.vertical > separator { background: none; }
    }
  }

  .toolbar {
    > button {
      margin-top: 2px;
      margin-bottom: 2px;
      @extend %flat_button;
    }
  }

  .primary-toolbar {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    color: $header_fg;
    box-shadow: inset 0 -1px $borders_color;
    background-color: $header_bg;

    button {
      @extend %headerbar_buttons;
      padding: 0 $container_padding + 2px;
      margin: 6px 1px;
    }

    entry {
      @extend %headerbar_entrys;
      margin-top: 4px;
      margin-bottom: 4px;
      margin-left: 0;
      margin-right: 0;
      padding: 2px 10px;
    }

    .linked.raised > button {
      border-radius: $bt_radius;
    }

    // Pathbar
    .linked.path-bar {
      > button, > button.image-button {
        min-height: 0;
        min-width: 0;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: $bt_radius;
      }
    }
  }

  // Floating Bar
  .floating-bar {
    padding: 2px;
    background-color: $selected_bg_color;
    color: $selected_fg_color;
    border-radius: 0;
    border: none;

    &.bottom.left {
      border-top-right-radius: $bt_radius;
    }

    &.bottom.right {
      border-top-left-radius: $bt_radius;
    }

    button {
      border: none;
      border-radius: 3px;
      min-height: 16px;
      min-width: 16px;
      -gtk-icon-shadow: none;
      @extend %undecorated_button;
      @extend %selected-button;
    }
  }
}

menu#background,
menu#selection,
.nemo-window menu {
  padding: 6px;

  menuitem {
    margin: 0;
  }
}

// Cinnamon setting
.view.cs-category-view { border-bottom-right-radius: $wm_radius; }
